{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step_verify.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% block appjsinline %}
    <style type="text/css">
    	#change_passwd_newPassword.form_row{clear:both}
    </style>
{% endblock %}

{% block form_row %}
{% spaceless %}
    <div class="form_row">
        A{{ form_label(form) }}
        B{{ form_errors(form) }}
        C{{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block content %}



    <section class="section-2">
      <div class="container marketing">

        <div class="headline">
          <h2>{{ 'candidacy.recover_password.header'|trans }}</h2>
        </div><h3 class="featurette-headin"> <i>{{ 'candidacy.recover_password.h1_title'|trans }}</i>
        </h3>
        
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider2">
        <!--    division -->
        
        {{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
        
        <div class="row featurette2">
          <div class="widget-box">
            

            <div class="widget-body">
              <div class="widget-main">

                <div id="fuelux-wizard-container">

                  <div class="step-content pos-rel">
                  
				  {% if not form.vars.valid and form.vars.errors|length > 0 %}
                  <div class="alert alert-danger">
                          <button data-dismiss="alert" class="close" type="button">
                            <i class="mine-icon fa fa-times"></i>
                          </button>
                          {{ form_errors(form) }}
                  </div>
                  {% endif %}
                          
                    <div data-step="1" class="step-pane active row">
	                    <h2 class="lighter block greenl col-xs-10 col-sm-offset-1">
	                      	{{ 'candidacy.recover_password.h1_subtitle'|trans }}
	                    </h2>
                      
                      	<div class="col-sm-offset-1 col-md-10 well">

                      	  <div style="clear:both" class="form-group{% if form.oldPassword.vars.errors|length > 0 %} has-error{% endif %}">
				    	  	  {{ form_label(form.oldPassword, 'candidacy.recover_password.oldPassword'|trans, {'label_attr' : { 'class' : 'col-sm-2 control-label no-padding-right' } }) }}
				    		  {{ form_widget(form.oldPassword) }}
				    	  	  {% if form.oldPassword.vars.errors|length > 0 %}<div class="help-block col-xs-12 col-sm-reset inline">{{ form_errors(form.oldPassword) }}{% endif %}
						  </div>
					  
					  	  <div style="clear:both"  class="form-group{% if form.newPassword.vars.errors|length > 0 %} has-error{% endif %}">
				    	  	  {# { form_label(form.newPassword, 'candidacy.recover_password.newPassword'|trans, {'label_attr' : { 'class' : 'col-sm-3 control-label no-padding-right' } }) } #}
				    		  
				    	  	  {% for child in form.newPassword %}
									<div style="clear:both">
								        <div style="float: left;padding:5px" class="col-xs-12 col-sm-2">
								        	{{ form_label(child, '', {'label_attr' : { 'class' : 'col-sm-12 control-label no-padding-right' } }) }}
								        	{% if child.vars.errors|length > 0 %}<div class="help-block col-xs-12 col-sm-reset inline">{{ form_errors(child) }}{% endif %}
								        </div>  
								        <div style="float: left;" class="col-xs-12 col-sm-2">
								        	{{ form_widget(child, {'attr' : {'class' : 'countable'}}) }}
								        </div>      
								    </div>
							  {% endfor %}
						  </div>

			        	</div>

                      
                    </div>
                  </div>
                </div>

                <hr>
                <div class="wizard-actions">

                  {# { form_widget(form.save, { 'label': 'candidacy.step_verify.continue'|trans|raw, 'attr' : { 'class' : 'submit btn btn-success btn-next'} }) }#}

                </div>
              </div>
              
              
              <!-- /.widget-main --> </div>
            <!-- /.widget-body --> </div>
        </div>

        {{ form_rest(form) }}
			
			  {{ form_end(form) }}
			  
        <!--    division -->

        <!-- /END THE FEATURETTES --> </div>
</section>
{% endblock %}