{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step_verify.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% block content %}


    <section class="section-2">
      <div class="container marketing">

        <div class="headline">
          <h2>{{ 'candidacy.recover_password.header'|trans }}</h2>
        </div><h3 class="featurette-headin"> <i>{{ 'candidacy.recover_password.h1_title'|trans }}</i>
        </h3>
        
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider2">
        <!--    division -->
        
        {{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
        
        <div class="row featurette2">
          <div class="widget-box">
            

            <div class="widget-body">
              <div class="widget-main">

                <div id="fuelux-wizard-container">

                  <div class="step-content pos-rel">
                  
				  {% if not form.vars.valid and form.vars.errors|length > 0 %}
                  <div class="alert alert-danger">
                          <button data-dismiss="alert" class="close" type="button">
                            <i class="mine-icon fa fa-times"></i>
                          </button>
                          {{ form_errors(form) }}
                  </div>
                  {% endif %}
                          
                    <div data-step="1" class="step-pane active row">
                      <h2 class="lighter block greenl col-xs-10 col-sm-offset-1">
                      	{{ 'candidacy.recover_password.h1_subtitle'|trans }}
                      </h2>
                      
                      	<div class="col-sm-offset-3 col-md-6 well">

                      	  <div class="form-group{% if form.oldPassword.vars.errors|length > 0 %} has-error{% endif %}">
				    	  	  {{ form_label(form.oldPassword, 'candidacy.recover_password.oldPassword'|trans, {'label_attr' : { 'class' : 'col-sm-3 control-label no-padding-right' } }) }}
				    		  {{ form_widget(form.oldPassword) }}
				    	  	  {% if form.oldPassword.vars.errors|length > 0 %}<div class="help-block col-xs-12 col-sm-reset inline">{{ form_errors(form.oldPassword) }}{% endif %}
						  </div>
					  
					  	  <div class="form-group{% if form.newPassword.vars.errors|length > 0 %} has-error{% endif %}">
				    	  	  {{ form_label(form.newPassword, 'candidacy.recover_password.newPassword'|trans, {'label_attr' : { 'class' : 'col-sm-3 control-label no-padding-right' } }) }}
				    		  {{ form_widget(form.newPassword) }}
				    	  	  {% if form.newPassword.vars.errors|length > 0 %}<div class="help-block col-xs-12 col-sm-reset inline">{{ form_errors(form.newPassword) }}{% endif %}
						  </div>

			        	</div>

                      
                    </div>
                  </div>
                </div>

                <hr>
                <div class="wizard-actions">

                  {# { form_widget(form.save, { 'label': 'candidacy.step_verify.continue'|trans|raw, 'attr' : { 'class' : 'submit btn btn-success btn-next'} }) }#}

                </div>
              </div>
              
              
              <!-- /.widget-main --> </div>
            <!-- /.widget-body --> </div>
        </div>

        {{ form_rest(form) }}
			
			  {{ form_end(form) }}
			  
        <!--    division -->

        <!-- /END THE FEATURETTES --> </div>
</section>
{% endblock %}