{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step_verify.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% block appjsinline %}
{% endblock %}

{% block content %}



    <section class="section-2">
      <div class="container marketing">

        <div class="headline">
          <h2>{{ 'candidacy.recover_password.header'|trans }}</h2>
        </div><h3 class="featurette-headin"> <i>{{ 'candidacy.recover_password.h1_title'|trans }}</i>
        </h3>
        
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider2">
        <!--    division -->
        
        {{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
        
        <div class="row featurette2">
          <div class="widget-box">
            

            <div class="widget-body">
              <div class="widget-main">

                <div id="fuelux-wizard-container">

                  <div class="step-content pos-rel">
                  
				  {% if not form.vars.valid and form.vars.errors|length > 0 %}
                  <div class="alert alert-danger">
                          <button data-dismiss="alert" class="close" type="button">
                            <i class="mine-icon fa fa-times"></i>
                          </button>
                          {{ form_errors(form) }}
                  </div>
                  {% endif %}
                          
                    <div data-step="1" class="step-pane active row">
	                    <h2 class="lighter block greenl col-xs-10 col-sm-offset-1">
	                      	{{ 'candidacy.recover_password.h1_subtitle'|trans }}
	                    </h2>
                      
                      	<div class="col-sm-offset-1 col-md-10 well">

                      	  <p>
                      	  	{{ 'candidacy.recover_password.explanation'|trans }}. 
						  </p>
						  
                      	  <div style="clear:both" class="form-group{% if form.recover.vars.errors|length > 0 %} has-error{% endif %}">
				    	  	  {{ form_label(form.recover, 'candidacy.recover_password.recover'|trans, {'label_attr' : { 'class' : 'col-sm-5 control-label no-padding-right' } }) }}
				    		  {{ form_widget(form.recover) }}
				    	  	  {% if form.recover.vars.errors|length > 0 %}<div class="help-block col-xs-12 col-sm-reset inline">{{ form_errors(form.recover) }}{% endif %}
						  </div>
					  
					  	  {#}
					  	  @todo Improve with recaptcha bundle https://github.com/excelwebzone/EWZRecaptchaBundle
					  	  Verificación de imagen:
					  	  #}

			        	</div>

                      
                    </div>
                  </div>
                </div>

                <hr>
                <div class="wizard-actions">

                  {{ form_widget(form.continue, { 'label': 'candidacy.recover_password.continue'|trans|raw, 'attr' : { 'class' : 'submit btn btn-success btn-next'} }) }}

                </div>
              </div>
              
              
              <!-- /.widget-main --> </div>
            <!-- /.widget-body --> </div>
        </div>

        {{ form_rest(form) }}
			
			  {{ form_end(form) }}
			  
        <!--    division -->

        <!-- /END THE FEATURETTES --> </div>
</section>
{% endblock %}