{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step5.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidacy.step5.h1_title'|trans }}</h1>
    
    {{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
			
	<p>{{ form_errors(form) }}<p>
			
	{% if errors is defined and not errors is empty %}
		<div style="background-color:gold;color:black">{{ errors }}</div>
	{% endif %}
	
    <p class="important">
		{{ 'candidacy.step5.explanation_link'|trans }}:
    
    	http://municipales2015.listabierta.org/elmunicipioregistrado/altacandidaturas
	</p>
	
	<p>
	</p>
			
	<p>
		{{ form_widget(form.continue, { 'label': 'candidacy.step5.continue'|trans }) }}
	</p>
			
	{{ form_rest(form) }}
			
	{{ form_end(form) }}
	
{% endblock %}