{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step7.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidacy.step7.h1_title'|trans }}</h1>
    
    <p class="important">
    {% if candidacy_finished %}
		<p>
			{{ 'candidacy.step7.explanation'|trans }}
		</p>
		
		<p><div style="background-color:gold;color:black">{{ form_errors(form) }}</div><p>
		
		{{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}		
		<div>
			<p>
				<span>{{ form_label(form.total_days, 'candidacy.step7.days'|trans) }}:</span>
				{{ form_widget(form.total_days, { 'value' : 7 }) }}
			</p>
		</div>
		
		<p>
			{{ 'candidacy.step7.init_vote_explanation'|trans }}
		</p>
		
		<p>
			{{ 'candidacy.step7.warning_explanation'|trans }}
		</p>

		
			<div style="text-align:center">
				<p>
					{{ form_widget(form.start_candidacy, { 'label': 'candidacy.step7.start_candidacy'|trans }) }}
				</p>
			</div>
				
			{{ form_rest(form) }}
				
		{{ form_end(form) }}

		<p style="text-align:center">{{ 'candidacy.step7.public_link'|trans }}:</p>
		
		<div style="text-align:center">
			<h3><a href="http://municipales2015.listabierta.org/{{ app.session.get('town')|slugify }}/vota" title="Votar en {{ app.session.get('town') }}">http://municipales2015.listabierta.org/{{ app.session.get('town')|slugify }}/vota</a></h3>
		</div>
	{% else %}
		<p>{{ 'candidacy.step7.no_finished_candidacy'|trans }}</p>
	{% endif %}
	</p>

{% endblock %}