{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step5.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}
{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_widget %}

{% block content %}
    <h1>{{ 'candidacy.step5.h1_title'|trans }}</h1>
    
    {{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
			
	<p><div style="background-color:gold;color:black">{{ form_errors(form) }}</div><p>
	
    <p class="important">
		{{ 'candidacy.step5.explanation_link'|trans }}:
    </p>
    
    <div style="text-align:center">
    	<h3><a href="http://municipales2015.listabierta.org/{{ address_slug }}/altacandidaturas" title="Alta candidaturas {{ address_slug }}">http://municipales2015.listabierta.org/{{ address_slug }}/altacandidaturas</a></h3>
	</div>
	
	<p>
	</p>
			
	<p style="text-align:center">
		{{ form_widget(form.continue, { 'label': 'candidacy.step5.continue'|trans }) }}
	</p>
			
	{{ form_rest(form) }}
			
	{{ form_end(form) }}
	
{% endblock %}