{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step6.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}
{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_widget %}

{% block content %}
<section class="section-2">
      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <!--    division -->
        
        <div class="headline">
          <h2>{{ 'home.step_h2'|trans }} 6</h2>
        </div>
        <h3 class="featurette-headin">
          <i>{{ 'candidacy.step6.h1_title'|trans }}</i>
        </h3>
        <div class="row featurette2">
          <div class="widget-box col-xs-12">

            <div class="widget-body">
              <div class="widget-main">
                <div id="fuelux-wizard-container">
                  {{ steps_widget(6) }}

                  <hr>

                  <div class="step-content pos-rel container-fluid">

                    <div class="row">
                      <h2 class="col-md-12 col-sm-offset-0 text-center">
						{{ 'candidacy.step6.h1_title'|trans }}
                      </h2>
                    </div>
                    <div class="row">
                      <div class="col-md-offset-0 col-md-12 well">

                        <p class="lead2 text-center">
                        
    {% if candidates|length > 0 %}
    	
    	<div class="help-block col-xs-12 col-sm-6 col-sm-offset-3 inline">
    		<div class="alert alert-warning">
    			{{ 'candidacy.step6.reject_warning'|trans|raw }}
    		</div>
    	</div>
    	
    	<br /> 
    	<br />
    	
    	<table class="table">
    		<tr>
    			<td>{{ 'candidacy.step6.name_header'|trans }}</td>
    			<td>{{ 'candidacy.step6.motivational_text_header'|trans }}</td>
    			<td>{{ 'candidacy.step6.town_activities_explanation_header'|trans }}</td>
    			<td>{{ 'candidacy.step6.additional_info_header'|trans }}</td>
    			<td>{{ 'candidacy.step6.photo_header'|trans }}</td>
    			<td colspan="3">{{ 'candidacy.step6.action_header'|trans }}</td>
    		</tr>
		{% for candidate in candidates %}
			<tr>
				<td>{{ candidate.name }} {{ candidate.lastname }}</td> 
				<td>{% if candidate.motivationText is defined %}{{ candidate.motivationText }}{% endif %}</td> 
				<td>{% if candidate.townActivitiesExplanation is defined %}{{ candidate.townActivitiesExplanation }}{% endif %}</td> 
				<td style="width:20%">{% if candidate.additionalInfo is defined %}{{ candidate.additionalInfo }}{% endif %}</td> 
				<td style="padding:5px"><img style="width:45px;height:45px" src="{{ app.request.server.get('HTTP_ORIGIN') }}/{{ documents_path }}{{ candidate.id }}/photo/photo.jpg" /></td>       
					{% if candidate.status == 0 %}
						<td style="padding:5px">
							<a href="{{ path('municipales_candidacy_accept', {'id' : candidate.id }) }}" title="{{ 'candidacy.step6.accept_candidate'|trans }} {{ candidate.name }} {{ candidate.lastname }}">{{ 'candidacy.step6.accept'|trans }}</a>
						</td>
						<td style="padding:5px">
							<a href="{{ path('municipales_candidacy_reject', {'id' : candidate.id }) }}" title="{{ 'candidacy.step6.reject_candidate'|trans }} {{ candidate.name }} {{ candidate.lastname }}">{{ 'candidacy.step6.reject'|trans }}</a>
						</td>
					{% elseif candidate.status == 1 %}
						<td style="padding:5px">
							{{ 'candidacy.step6.accepted'|trans }}
						</td>
						<td style="padding:5px">
						</td>
					{% elseif candidate.status == 2 %}
						<td style="padding:5px">
							{{ 'candidacy.step6.rejected'|trans }}
						</td>
						<td style="padding:5px">
						</td>
					{% endif %}
				<td style="padding:5px">
					<a href="{{ path('municipales_candidacy_delete', {'id' : candidate.id }) }}" title="{{ 'candidacy.step6.delete_candidate'|trans }} {{ candidate.name }} {{ candidate.lastname }}">{{ 'candidacy.step6.delete'|trans }}</a>
				</td>   
			</tr>
		{% endfor %}
		</table>
	{% else %}
		{{ 'candidacy.step6.no_candidates'|trans }}
		
		<br />
		<br />
		<button class="submit btn btn-success btn-next" 
		onclick="location.href='{{ path('municipales_candidacy_step6') }}'; return false;">
			     {{ 'candidacy.step6.check_again'|trans|raw }}
		</button>
	{% endif %}
	
	</p>
	
		{# Only show the continue button if at least there are 2 candidates #}
		{% if candidates|length >= 2 %}
		<hr>
	
		<div class="wizard-actions">
		
			<button class="submit btn btn-success btn-next" onclick="location.href='{{ path('municipales_candidacy_step7') }}'; return false;">
			     {{ 'candidacy.step6.continue'|trans|raw }}
			</button>
		
		</div>
		{% endif %}
	
	 	<!-- /.widget-main --> </div>
            <!-- /.widget-body --> </div>
        </div>

			  
        <!--    division -->

        <!-- /END THE FEATURETTES --> 
        </div>
</section>
	
{% endblock %}