{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step4.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_widget %}

{% block content %}


<section class="section-2">
      <div class="container marketing">
        

        <!-- START THE FEATURETTES -->

        
        <!--    division -->
        <div class="row featurette2">
          <div class="widget-box">
            

            <div class="widget-body">
              <div class="widget-main">
                <div id="fuelux-wizard-container">
                  
					{{ steps_widget(1) }}



    <h1>{{ 'candidacy.step_conditions.h1_title'|trans }}</h1>
    
    {{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
			
	<p><div style="background-color:gold;color:black">{{ form_errors(form) }}</div><p>
	
	<p class="important">{{ 'candidacy.step_conditions.p1_title'|trans }}:</p>
				
	<div style="text-align:justify">
		<ul>
			<li>- {{ 'candidacy.step_conditions.p1_content'|trans }}</li>
		
			<li>- {{ 'candidacy.step_conditions.p2_content'|trans }}</li>
		
			<li>- {{ 'candidacy.step_conditions.p3_content'|trans }}</li>
		
			<li>- {{ 'candidacy.step_conditions.p4_content'|trans }}</li>
			
			<li>- {{ 'candidacy.step_conditions.p4_content'|trans }}</li>
		
			<li>- {{ 'candidacy.step_conditions.p5_content'|trans }}</li>
			
			<li>- {{ 'candidacy.step_conditions.p6_content'|trans }}</li>
		</ul>
	</div>
	
    <div class="important" style="text-align:center">
    	<div>{{ 'candidacy.step_conditions.accept'|trans }}</div>
    	<div style="clear:both;text-align:center;margin: 0 auto;margin-top:20px">
			{{ form_widget(form.conditions) }}
			{{ form_errors(form.conditions) }}
		</div>
		<div style="clear:both;margin-top:20px">
			<p style="text-align:center">
				{{ form_widget(form.continue, { 'label': 'candidacy.step_conditions.continue'|trans|raw, 'attr' : { 'class' : 'submit btn btn-success btn-next'} }) }}
			</p>
		</div>
	</div>
			
	{{ form_rest(form) }}
			
	{{ form_end(form) }}
	
	        <!-- /.widget-main --> </div>
            <!-- /.widget-body --> </div>
        </div>

        <!--    division -->

        <!-- /END THE FEATURETTES --> </div>
    </section>
	
{% endblock %}