{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step7.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}
{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_widget %}

{% block content %}
<section class="section-2">
      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <!--    division -->

        <div class="headline">
          <h2>{{ 'home.step_h2'|trans }} 7</h2>
        </div>
        <h3 class="featurette-headin">
          <i>{{ 'candidacy.step7.h1_title'|trans }}</i>
        </h3>
        <div class="row featurette2">
          <div class="widget-box col-xs-12">

            <div class="widget-body">
              <div class="widget-main">
                <div id="fuelux-wizard-container">
                  {{ steps_widget(7) }}

                  <hr>

                  <div class="step-content pos-rel container-fluid">

                    <div class="row">
                      <h2 class="col-md-8 col-sm-offset-2 text-center">
						{{ 'candidacy.step7.h1_title'|trans }}
                      </h2>
                    </div>
                    <div class="row">
                      <div class="col-md-offset-2 col-md-8 well">

                        <p class="lead2 text-center">


						    {% if candidacy_finished %}
						    	{{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}

								<p>
									{{ 'candidacy.step7.explanation'|trans }}
								</p>

								{% if not form.vars.valid and form.vars.errors|length > 0 %}
				                  <div class="alert alert-danger">
				                          <button data-dismiss="alert" class="close" type="button">
				                            <i class="mine-icon fa fa-times"></i>
				                          </button>
				                          {{ form_errors(form) }}
				                  </div>
				                {% endif %}

								<div class="form-group{% if form.total_days.vars.errors|length > 0 %} has-error{% endif %}">
						    		  {{ form_label(form.total_days, 'candidacy.step7.days'|trans, {'label_attr' : { 'class' : 'col-sm-1 control-label no-padding-right' } }) }}
						    	      {{ form_widget(form.total_days, { 'value' : 2 }) }}
						    	      {% if form.total_days.vars.errors|length > 0 %}<div class="help-block col-xs-12 col-sm-reset inline">{{ form_errors(form.total_days) }}</div>{% endif %}
								</div>

								<br /><br /> <br />
								<div class="row">
							              <div class="col-md-offset-0 col-md-12">

												<div class="help-block col-xs-12 col-sm-10 col-sm-offset-1 inline">
													<div class="alert alert-danger">
										                <p class="text-center">
															{{ 'candidacy.step7.warning_explanation'|trans|raw }}
														</p>
													</div>
												</div>
										  </div>
						        </div>

								<div class="row">
						              <div class="col-md-offset-2 col-md-8">

						                <p class="text-center">
											{{ 'candidacy.step7.init_vote_explanation'|trans }}
										</p>
						              </div>
						        </div>


									<div style="text-align:center">
										<p>
											{{ form_widget(form.start_candidacy, { 'label': 'candidacy.step7.start_candidacy'|trans|raw, 'attr' : { 'class' : 'submit btn btn-success btn-next'} }) }}
										</p>
									</div>

									{{ form_rest(form) }}

								{{ form_end(form) }}

								<div class="row">
						              <div class="col-md-offset-0 col-md-12">

						                <p class="text-center">
											{{ 'candidacy.step7.public_link'|trans }}

											<div style="text-align:center">
												<h3><a href="http://{{ app.request.server.get('HTTP_HOST') }}/{{ address }}/vota" title="Votar en {{ town }}">http://{{ app.request.server.get('HTTP_HOST') }}/{{ address }}/vota</a></h3>
											</div>
										</p>

										<p class="text-center">
											{{ 'candidacy.step7.sent_mail'|trans }}
										</p>
						              </div>
						        </div>

						        <div class="row">
                                    <div class="col-md-12 col-sm-offset-0 text-center">
                                        <button class="submit btn btn-success btn-next"
                                            onclick="location.href='{{ path('login') }}'; return false;">
                                                     {{ 'candidacy.step6.access_admin_panel'|trans|raw }}
                                        </button>
                                    </div>
                                    <div class="col-md-12 col-sm-offset-0 text-center">
                                        {{ 'candidacy.step6.remember_access_admin'|trans|raw }}:<br />
                                        <a href="{{ path('login') }}">{{ app.request.server.get('HTTP_ORIGIN') }}/{{ path('login') }}</a>
                                        <br/>
                                    </div>
                                </div>
							{% else %}
								<p>{{ 'candidacy.step7.no_finished_candidacy'|trans }}</p>
							{% endif %}
			</p>
					</div>
				</div>
              <!-- /.widget-main --> </div>
            <!-- /.widget-body --> </div>
        </div>

        <!--    division -->

        <!-- /END THE FEATURETTES -->
        </div>
</section>

{% endblock %}