{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step6.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidacy.step6.h1_title'|trans }}</h1>
    
    <p class="important">
    {% if candidates|length > 0 %}
    	<table>
		{% for candidate in candidates %}
			<tr>
				<td>{{ candidate.name }} {{ candidate.lastname }}</td> 
				<td>{{ candidate.dni }}</td> 
				<td>{{ candidate.email }}</td> 
				<td>{{ candidate.phone }}</td> 
				<td>{{ candidate.academic_level }}</td> 
				<td>{{ dump(candidate.job_experience) }}</td> 
				<td>{{ dump(candidate.town_activities) }}</td> 
				<td>{{ dump(candidate.govern_priorities) }}</td> 
				<td>{{ dump(candidate.public_values) }}</td> 
				<td>{{ candidate.motivation_text }}</td> 
				<td>{{ candidate.town_activities_explanation }}</td> 
				<td>{{ candidate.additional_info }}</td> 
				<td style="padding:5px">PHOTO</td>       
				<td style="padding:5px">ESTADO</td>   
			</tr>
		{% endfor %}
		</table>
	{% else %}
		{{ 'candidacy.step6.no_candidates'|trans }}
	{% endif %}
	</p>
	
	
	{{ form_start(form_step7, { 'attr': {'class': 'form_settings'}}) }}
			
	<p style="text-align:center">
		{{ form_widget(form_step7.start_candidacy, { 'label': 'candidacy.step6.continue'|trans }) }}
	</p>
			
	{{ form_rest(form_step7) }}
			
	{{ form_end(form_step7) }}
	
{% endblock %}