{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step4.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}
{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_widget %}

{% block content %}
    <h1>{{ 'candidacy.step4.h1_title'|trans }}</h1>
    
    {{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
			
	<p><div style="background-color:gold;color:black">{{ form_errors(form) }}</div><p>
	
    <p class="important">
		<h3><p style="margin-right:5px;display:inline">http://municipales2015.listabierta.org/</p>{{ form_widget(form.address, { 'value' : default_address_slug }) }}</h3>
		<span>{{ form_errors(form.address) }}</span>
	</p>
	
	<p>
	</p>
			
	<p>
		{{ form_widget(form.continue, { 'label': 'candidacy.step4.continue'|trans }) }}
	</p>
			
	{{ form_rest(form) }}
			
	{{ form_end(form) }}
	
{% endblock %}