{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step2.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidacy.step2.h1_title'|trans }}</h1>
    
    <p class="important">
	Sube en formato PDF  las condiciones que regulan la candidatura ciudadana:
	(Estas condiciones deberán ser aceptadas por cada uno de los candidatos o candidatas)
	</p>
	
	<p>
		<span>{{ form_label(form.program, 'candidacy.step2.program'|trans) }}</span>
		<span>{{ form_errors(form.program) }}</span>
		{{ form_widget(form.program) }}
		ejemplo
	</p>
	        
	
	<p>
		Condiciones legales y veracidad de la información aportada de  candidatos y candidatas      ejemplo
	</p>
	
	<p>El mandato revocatorio del candidato        ejemplo</p>
	
	<p>El mandato participativo del candidato       ejemplo</p>
	
	<p>Las condiciones para poder participar como votante (censo y aceptación del sistema de votación)</p>
			
	<p>Las limitaciones técnicas y legales del sistema de voto.         ejemplo</p>

{% endblock %}