{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step6.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidacy.step6.h1_title'|trans }}</h1>
    
    <p class="important">
    {% if candidates|length > 0 %}
    	<table>
    		<tr>
    			<td>Nombre y Apellidos</td>
    			<td>DNI</td>
    			<td>Email</td>
    			<td>Telefono</td>
    			<td>Nivel académico</td>
    			<td>Idiomas</td>
    			<td>Experiencia laboral</td>
    			<td>Actividades municipales</td>
    			<td>Prioridades gobierno</td>
    			<td>Valores públicos</td>
    			<td>Texto motivacional</td>
    			<td>Explicación actividades municipales</td>
    			<td>Información adicional</td>
    			<td>Foto</td>
    			<td>Acción</td>
    		</tr>
		{% for candidate in candidates %}
			<tr>
				<td>{{ candidate.name }} {{ candidate.lastname }}</td> 
				<td>{{ candidate.dni }}</td> 
				<td>{{ candidate.email }}</td> 
				<td>{{ candidate.phone }}</td> 
				
				<td>
					{% if candidate.academicLevel is defined %}
						{% for academic_choice in form_step3.academic_level.vars.choices %}
							{% if candidate.academicLevel == academic_choice.value %}
								{{ academic_choice.label }}
							{% endif %}
						{% endfor %}
					{% endif %}
				</td> 
				<td>
					{% if candidate.languages is defined %}

					{% for languages_candidate in candidate.languages %}
						{% for languages_candidate_choice in form_step3.languages.vars.choices %}
							{% if languages_candidate == languages_candidate_choice.value %}
								{{ languages_candidate_choice.label }}
							{% endif %}
						{% endfor %}
					{% endfor %}
				{% endif %}
				</td> 
				<td>
					{% if candidate.jobExperience is defined %}
						{% for level in candidate.jobExperience %}
							{% for job_experience_choice in form_step4.job_experience.vars.choices %}
								{% if level == job_experience_choice.value %}
									{{ job_experience_choice.label }}
								{% endif %}
							{% endfor %}
						{% endfor %}
					{% endif %}
				</td> 
				<td>{% if candidate.townActivities is defined %}{{ dump(candidate.townActivities) }}{% endif %}</td> 
				<td>{% if candidate.governPriorities is defined %}{{ dump(candidate.governPriorities) }}{% endif %}</td> 
				<td>{% if candidate.publicValues is defined %}{{ dump(candidate.publicValues) }}{% endif %}</td> 
				<td>{% if candidate.motivationText is defined %}{{ candidate.motivationText }}{% endif %}</td> 
				<td>{% if candidate.townActivitiesExplanation is defined %}{{ candidate.townActivitiesExplanation }}{% endif %}</td> 
				<td>{% if candidate.additionalInfo is defined %}{{ candidate.additionalInfo }}{% endif %}</td> 
				<td style="padding:5px">PHOTO</td>       
				<td style="padding:5px">ESTADO</td>   
			</tr>
		{% endfor %}
		</table>
	{% else %}
		{{ 'candidacy.step6.no_candidates'|trans }}
	{% endif %}
	</p>
	
	
	{{ form_start(form_step7, { 'attr': {'class': 'form_settings'}}) }}
			
	<p style="text-align:center">
		{{ form_widget(form_step7.start_candidacy, { 'label': 'candidacy.step6.continue'|trans }) }}
	</p>
			
	{{ form_rest(form_step7) }}
			
	{{ form_end(form_step7) }}
	
{% endblock %}