{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step3.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}
{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_widget %}

{% block content %}
    <h1>{{ 'candidacy.step3.h1_title'|trans }}</h1>
    
    {{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
			
 	{% if not form.vars.valid %}
		<div class="alert alert-danger">
			  <button data-dismiss="alert" class="close" type="button">
				<i class="mine-icon fa fa-times"></i>
			  </button>
			  {{ form_errors(form) }}
		</div>
	{% endif %}
	
    <p class="important">
		{{ 'candidacy.step3.explanation_date'|trans }}:
	</p>
	
	<p>
		<span>{{ form_label(form.from, 'candidacy.step3.from_label'|trans) }}</span>
		<span>{{ form_errors(form.from) }}</span>
		{{ form_widget(form.from) }}
	</p> 
	
	<p>
		<span>{{ form_label(form.to, 'candidacy.step3.to_label'|trans) }}</span>
		<span>{{ form_errors(form.to) }}</span>
		{{ form_widget(form.to) }}
	</p> 
		
	<p>
	</p>
			
	<p>
		{{ form_widget(form.continue, { 'label': 'candidacy.step3.continue'|trans }) }}
	</p>
			
	{{ form_rest(form) }}
			
	{{ form_end(form) }}
	
{% endblock %}