{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step6.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}
{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_widget %}

{% block content %}
    <h1>{{ 'candidacy.step6.h1_title'|trans }}</h1>
    
    <p class="important">
    {% if candidates|length > 0 %}
    	<table>
    		<tr>
    			<td>Nombre y Apellidos</td>
    			<td>Texto motivacional</td>
    			<td>Explicación actividades municipales</td>
    			<td>Información adicional</td>
    			<td>Foto</td>
    			<td>Acción</td>
    		</tr>
		{% for candidate in candidates %}
			<tr>
				<td>{{ candidate.name }} {{ candidate.lastname }}</td> 
				<td>{% if candidate.motivationText is defined %}{{ candidate.motivationText }}{% endif %}</td> 
				<td>{% if candidate.townActivitiesExplanation is defined %}{{ candidate.townActivitiesExplanation }}{% endif %}</td> 
				<td>{% if candidate.additionalInfo is defined %}{{ candidate.additionalInfo }}{% endif %}</td> 
				<td style="padding:5px"><img style="width:45px;height:45px" src="{{ documents_path }}{{ candidate.id }}/photo/photo.jpg" /></td>       
				<td style="padding:5px">
					<a href="/candidate/accept/{{ candidate.id }}" title="Aceptar candidato {{ candidate.name }} {{ candidate.lastname }}">Aceptar</a>
					<a href="/candidate/reject/{{ candidate.id }}" title="Rechazar candidato {{ candidate.name }} {{ candidate.lastname }}">Rechazar</a>
				</td>   
			</tr>
		{% endfor %}
		</table>
	{% else %}
		{{ 'candidacy.step6.no_candidates'|trans }}
	{% endif %}
	</p>
	
	
	{{ form_start(form_step7, { 'attr': {'class': 'form_settings'}}) }}
			
	<p style="text-align:center">
		{{ form_widget(form_step7.start_candidacy, { 'label': 'candidacy.step6.continue'|trans }) }}
	</p>
			
	{{ form_rest(form_step7) }}
			
	{{ form_end(form_step7) }}
	
{% endblock %}