{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step8.html_title'|trans }}{% endblock %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_widget %}

{% block content %}
<section class="section-2">
      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <!--    division -->
        
        <div class="headline">
          <h2>{{ 'home.step_h2'|trans }} 8</h2>
        </div>
        <h3 class="featurette-headin">
          <i>{{ 'candidacy.step8.h1_title'|trans }}</i>
        </h3>
        <div class="row featurette2">
          <div class="widget-box col-xs-12">

            <div class="widget-body">
              <div class="widget-main">
                <div id="fuelux-wizard-container">
                  {{ steps_widget(8) }}

                  <hr>

                  <div class="step-content pos-rel container-fluid">

                    <div class="row">
                      <h2 class="col-md-8 col-sm-offset-2 text-center">
                  		{{ 'candidacy.step8.h1_title'|trans }}
                      </h2>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 well">

	                        <p class="lead2 text-center">
	 
		                        <div class="entry">
		                        
									<p>
										{{ 'candidacy.step8.header_p1'|trans }}.
									</p>
								
									<h3>{{ 'candidacy.step8.header_p1_h3'|trans }}</h3>
										
									<p>
										{{ 'candidacy.step8.header_p2'|trans }}:
									</p>
										
									<p>
										<ul>
											<li>{{ 'candidacy.step8.header_li1'|trans }}</li>
											<li>{{ 'candidacy.step8.header_li2'|trans }}</li>
											<li>{{ 'candidacy.step8.header_li3'|trans }}</li>
											<li>{{ 'candidacy.step8.header_li4'|trans }}</li>
											<li>{{ 'candidacy.step8.header_li5'|trans }}</li>
										</ul>
									</p>
		
								</div>
	
	                        </p>
                        </div>
                    </div>
                        
                        {% if candidacy_finished %}
                        
                        	<div class="row">
		                      <h2 class="col-md-8 col-sm-offset-2 text-center">
		                  		{{ 'candidacy.step8.vote_finished'|trans }}
		                      </h2>
		                    </div>
                    
	                        <div class="row">
		                      <div class="col-md-offset-1 col-md-10 well">
		
		                        <p class="lead2 text-center">
		                        
			                        <div class="entry">
										{{ 'candidacy.step8.audit'|trans }}: <a href="#">(enlace a TRACTIS(@todo))</a>
										<br />
										<a href="https://www.tractis.com/home/webservices/tsa" 
										title="{{ 'candidacy.step8.how_works_tsa'|trans }}">{{ 'candidacy.step8.how_works_tsa'|trans }}</a>
										
										<table class="table">
										
											<thead>
												<tr>
													<td>{{ 'candidacy.step8.photo'|trans }}</td>
													<td>{{ 'candidacy.step8.name_lastname'|trans }}</td>
													<td>{{ 'candidacy.step8.dni'|trans }}</td>
													<td>{{ 'candidacy.step8.phone'|trans }}</td>
													<td>{{ 'candidacy.step8.total_points'|trans }}</td>
													<td>{{ 'candidacy.step8.position'|trans }}</td>
												</tr>
											</thead>
											
											<tbody>
												<tr>
													{% if candidates|length > 0 %}
									
														{% for candidate in candidates %}
														<tr>
															<td><img style="width:45px;height:45px" src="{{ app.request.server.get('HTTP_ORIGIN') }}/{{ documents_path }}{{ candidate.id }}/photo/photo.jpg" /></td>
															<td>{{ candidate.name }} {{ candidate.lastname }}</td>
															<td>{{ candidate.dni }}</td>
															<td>{{ candidate.phone }}</td>
															<td>{{ candidate.points }}</td>
															<td>{{ loop.index }}</td>
														</tr>
														{% endfor %}
													{% endif %}
												</tr>
											</tbody>
										
										</table>
										
										
			
									</div>
		
		                        </p>
		                      </div>
		                    </div>
                        {% else %}
                        	<div class="row alert alert-warning col-sm-offset-1 col-md-10">
                        		
	                        		<h2 class="col-md-8 col-sm-offset-2 text-center">
				                  		{{ 'candidacy.step8.vote_not_finished_warning'|trans }}. 
				                    </h2>
				                     
				                    <p class="col-md-8 col-sm-offset-2 text-center">
				                    	{{ 'candidacy.step8.vote_start_date'|trans }}: {{ vote_start_date|date('d-m-Y') }}<br/>
				                    	{{ 'candidacy.step8.vote_end_date'|trans }}: {{ vote_end_date|date('d-m-Y') }}
				                    </p>
		                      
		                    </div>
                        {% endif %}

	                
	                    <hr>
		                <div class="wizard-actions">
		
						  <button class="submit btn btn-success btn-next" onclick="location.href='{{ path('municipales_candidacy_step7') }}'; return false;">
							     {{ 'candidacy.step8.previous'|trans|raw }}
						  </button>
						  
						  {% if candidacy_finished %} 
						 	 <button class="submit btn btn-success btn-next" onclick="location.href='{{ path('municipales_candidacy_step9') }}'; return false;">
								     {{ 'candidacy.step8.continue'|trans|raw }}
							 </button>
		           		  {% endif %}

		                </div>
                    
                  </div>
                </div>
	            
              </div>
              <!-- /.widget-main --> </div>
            <!-- /.widget-body --> </div>
        </div>

        <!--    division -->

        <!-- /END THE FEATURETTES --> </div>
    </section>

{% endblock %}