{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}Resultados de la consulta online{% endblock %}

{% block content %}

<section class="section-2">
	<div class="container marketing">
        
        <div class="headline">
          <h2>Resultados de la consulta online</h2>
        </div>

        <div class="row">

  			<div class="col-xs-10 col-xs-offset-1">                  

  				<div class="clearfix"></div>
  				<br />
  				<br />
  				
				<div class="center-block">

              		<div class="well justify-block">
              		
              			<p class="lead2">
							Total votos emitidos: {{ votes_emitted }}
						</p>
						
						<p class="lead2">
						
							<table class="table">
								<tr>
									<td><h3>¿Qué consideras que deben votar nuestros concejales?</h3></td>
									<td>Votos</td>
								</tr>
								<tr>
									<td>A - Votarnos a nosotros mismos o abstenernos, con la probable consecuencia de que Juan Ignacio Zoido (PP) sea alcalde</td>
									<td>{{ counter.first.a }}</td>
								</tr>
								<tr>
									<td>B - Apoyar la investidura de Juan Espadas (PSOE) y exigirle el cumplimiento de estos compromiso</td>
									<td>{{ counter.first.b }}</td>
								</tr>
							</table>
						</p>
						
						<p class="lead2">
							Opción ganadora: {% if counter.first.a >= counter.first.b %}A{% else %}B{% endif %}
						</p>
						 
						 <p class="lead2">
						
							<table class="table">
								<tr>
									<td>Si la opción ganadora es B, las opciones son (*):<br/>
										(*) (Si la opción ganadora es A, estos resultados no deben tenerse en cuenta)
									</td>
									<td>Votos</td>
								</tr>
								<tr>
									<td>A - Votar la investidura de Juan Espadas y pasar a la oposición</td>
									<td>{{ counter.second.a }}</td>
								</tr>
								<tr>
									<td>B - Votar la investidura de Juan Espadas y formar parte del gobierno</td>
									<td>{{ counter.second.b }}</td>
								</tr>
							</table>
						</p>
						 
						 <p class="lead2">
							Opción ganadora: {% if counter.second.a >= counter.second.b %}A{% else %}B{% endif %}
						</p>
						 <p class="lead2">
						 <a href="{{ path('consultation_download_csv') }}" title="Descargar CSV">Descargar CSV</a>
						</p> 
						 
						</div>

					</div>                  
							
                </div>
                    
                <div class="clearfix"></div>

         	</div>
         	
		</div>  

	</div>
</section>
	
{% endblock %}