{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'consultation.step1.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_consultation %}

{% block appjsinline %}
 <script>
	$(document).ready(function()
	{
			// A (hide all)
			$('#consultation_step1_first_question_0').change(function() 
			{
				var first_question = $(this).val()

				$('#consultation_step1_second_question_box').hide()
				$('#wizard-actions-box').show()
			});

			// B (show all)
			$('#consultation_step1_first_question_1').change(function() 
			{
				var first_question = $(this).val()
				$('#consultation_step1_second_question_box').show()
				$('#wizard-actions-box').hide()
			});

			$('#consultation_step1_second_question_0').change(function() 
			{
				$('#consultation_step1_second_question_box').show()
				$('#wizard-actions-box').show()
			});

			$('#consultation_step1_second_question_1').change(function() 
			{
				$('#consultation_step1_second_question_box').show()
				$('#wizard-actions-box').show()
			});
			
	});
</script>
 <style>
 	#consultation_step1_first_question{text-align: left;margin-left: 20px;}
 	#consultation_step1_second_question{text-align: left;margin-left: 20px;}
 </style>
{% endblock %}

{% block content %}

<section class="section-2">
	<div class="container marketing">
        
        <div class="headline">
          <h2>{{ 'consultation.step1.step_h2'|trans }}</h2>
        </div>
        
        <h3 class="featurette-headin"> <i>{{ 'consultation.step1.h1_title'|trans }}</i></h3>
        
        <!-- START THE FEATURETTES -->

        <!--    division -->
        <div class="row featurette2">
        	<div class="widget-box">
            

            	<div class="widget-body">
              		<div class="widget-main">
                		<div id="fuelux-wizard-container">
                  
							{{ steps_consultation(1, token) }}

	        			</div>
             		</div> <!-- /.widget-main -->
            
                   
                </div><!-- /.widget-body -->
              </div>
        </div> <!--    division -->           

        <!-- /END THE FEATURETTES -->
        
        {{ form_start(form, { 'attr': {'class': 'form_settings form-horizontal col-xs-12'}}) }}
        
        <div class="row">

  			<div class="col-xs-10 col-xs-offset-1">                  

  				<div class="clearfix"></div>
  				<br />
  				<br />
  				
				<div class="center-block">

              		<div class="well justify-block">
						<p class="lead2">{{ 'consultation.step1.first_question_intro_text'|trans|raw }}</p> 

						<p class="lead2">{{ 'consultation.step1.first_question_header'|trans|raw }}</p> 
						<p class="lead2" style="font-size:20px;font-weight:bold">{{ 'consultation.step1.first_question'|trans|raw }}</p> 

						
				        <div class="control-group" style="clear:both;text-align:center;margin: 0 auto;margin-top:20px">
							{{ form_widget(form.first_question) }}
							{{ form_errors(form.first_question) }}
						</div>	 
						
						<div id="consultation_step1_second_question_box" style="display:none">
							<br />
							<hr >
							
							<p class="lead2">{{ 'consultation.step1.second_question_intro_text'|trans|raw }}</p> 
	
							<p class="lead2">{{ 'consultation.step1.second_question_header'|trans|raw }}</p> 
							<p class="lead2">{{ 'consultation.step1.second_question'|trans|raw }}</p> 
	
							
					        <div class="control-group" style="clear:both;text-align:center;margin: 0 auto;margin-top:20px">
								{{ form_widget(form.second_question) }}
								{{ form_errors(form.second_question) }}
							</div>	
						</div> 
						
					</div>                  
							
                </div>
                    
                <div class="clearfix"></div>

         	</div>
         	
         	<div id="wizard-actions-box" style="display:none">

				<hr>
				<div class="wizard-actions">

				  {{ form_widget(form.continue, { 'label': 'consultation.step1.continue'|trans|raw, 'attr' : { 'class' : 'submit btn btn-success btn-next'} }) }}
				  
				</div>
			</div>
         	
		</div>  
		
		{{ form_rest(form) }}
					
		{{ form_end(form) }}  

	</div>
</section>
	
{% endblock %}