{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'consultation.step3.html_title'|trans }}{% endblock %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_consultation %}

{% block appjsinline %}
<style type="text/css">
 
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
 
</style>
{% endblock %}

{% block content %}

<section class="section-2">
	<div class="container marketing">
        
        <div class="headline">
          <h2>{{ 'consultation.step3.step_h2'|trans }}</h2>
        </div>
        
        <h3 class="featurette-headin"> <i>{{ 'consultation.step3.h1_title'|trans }}</i></h3>
        
        <!-- START THE FEATURETTES -->

        <!--    division -->
        <div class="row featurette2">
        	<div class="widget-box">
            

            	<div class="widget-body">
              		<div class="widget-main">
                		<div id="fuelux-wizard-container">
                  
							{{ steps_consultation(3, token) }}

	        			</div>
             		</div> <!-- /.widget-main -->
            
                   
                </div><!-- /.widget-body -->
              </div>
        </div> <!--    division -->           

        <!-- /END THE FEATURETTES -->
        
        <div class="row">

  			<div class="col-xs-10 col-xs-offset-1">                  

  				<div class="clearfix"></div>
  				<br />
  				<br />
  				
				<div class="center-block">

              		<div class="well justify-block">
						<p class="lead2">{{ 'consultation.step3.p1'|trans }}</p> 

						<p class="lead2">{{ 'consultation.step3.p2'|trans }}</p> 
						
						<br /><br />

						<h3>Comparte!</h3>
						
						<div id="share-buttons">
    
						    <!-- Buffer -->
						    <a href="https://bufferapp.com/add?url=https://participasevilla.org&amp;text=Simple Share Buttons" target="_blank">
						        <img src="{{ asset('bundles/municipales/img/somacro/buffer.png') }}" alt="Buffer" />
						    </a>
						    
						    <!-- Digg -->
						    <a href="http://www.digg.com/submit?url=https://participasevilla.org" target="_blank">
						        <img src="{{ asset('bundles/municipales/img/somacro/diggit.png') }}" alt="Digg" />
						    </a>
						    
						    <!-- Email -->
						    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://participasevilla.org">
						        <img src="{{ asset('bundles/municipales/img/somacro/email.png') }}" alt="Email" />
						    </a>
						 
						    <!-- Facebook -->
						    <a href="http://www.facebook.com/sharer.php?u=https://participasevilla.org" target="_blank">
						        <img src="{{ asset('bundles/municipales/img/somacro/facebook.png') }}" alt="Facebook" />
						    </a>
						    
						    <!-- Google+ -->
						    <a href="https://plus.google.com/share?url=https://participasevilla.org" target="_blank">
						        <img src="{{ asset('bundles/municipales/img/somacro/google.png') }}" alt="Google" />
						    </a>
						    
						    <!-- LinkedIn -->
						    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://participasevilla.org" target="_blank">
						        <img src="{{ asset('bundles/municipales/img/somacro/linkedin.png') }}" alt="LinkedIn" />
						    </a>
						    
						    <!-- Pinterest -->
						    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
						        <img src="{{ asset('bundles/municipales/img/somacro/pinterest.png') }}" alt="Pinterest" />
						    </a>
						    
						    <!-- Print -->
						    <a href="javascript:;" onclick="window.print()">
						        <img src="{{ asset('bundles/municipales/img/somacro/print.png') }}" alt="Print" />
						    </a>
						    
						    <!-- Reddit -->
						    <a href="http://reddit.com/submit?url=https://participasevilla.org&amp;title=Simple Share Buttons" target="_blank">
						        <img src="{{ asset('bundles/municipales/img/somacro/reddit.png') }}" alt="Reddit" />
						    </a>
						    
						    <!-- StumbleUpon-->
						    <a href="http://www.stumbleupon.com/submit?url=https://participasevilla.org&amp;title=Simple Share Buttons" target="_blank">
						        <img src="{{ asset('bundles/municipales/img/somacro/stumbleupon.png') }}" alt="StumbleUpon" />
						    </a>
						    
						    <!-- Tumblr-->
						    <a href="http://www.tumblr.com/submit?url=https://participasevilla.org&amp;title=Simple Share Buttons" target="_blank">
						        <img src="{{ asset('bundles/municipales/img/somacro/tumblr.png') }}" alt="StumbleUpon" />
						    </a>
						     
						    <!-- Twitter -->
						    <a href="http://www.twitter.com/share/link?url=https://participasevilla.org&amp;name=Simple Share Buttons&hashtags=simplesharebuttons" target="_blank">
						        <img src="{{ asset('bundles/municipales/img/somacro/twitter.png') }}" alt="Tumblr" />
						    </a>
						    
						    <!-- VK -->
						    <a href="http://vkontakte.ru/share.php?url=https://participasevilla.org" target="_blank">
						        <img src="{{ asset('bundles/municipales/img/somacro/vk.png') }}" alt="VK" />
						    </a>
						    
						    <!-- Yummly -->
						    <a href="http://www.yummly.com/urb/verify?url=https://participasevilla.org&amp;title=Simple Share Buttons&hashtags=simplesharebuttons" target="_blank">
						        <img src="{{ asset('bundles/municipales/img/somacro/yummly.png') }}" alt="Yummly" />
						    </a>
						 
						</div>

					</div>                  
							
                </div>
                    
                <div class="clearfix"></div>

         	</div>
         	
		</div>  

	</div>
</section>
	
{% endblock %}