{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'consultation.step2.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_consultation %}

{% block content %}

<section class="section-2">
	<div class="container marketing">
        
        <div class="headline">
          <h2>{{ 'consultation.step2.step_h2'|trans }}</h2>
        </div>
        
        <h3 class="featurette-headin"> <i>{{ 'consultation.step2.h1_title'|trans }}</i></h3>
        
        <!-- START THE FEATURETTES -->

        <!--    division -->
        <div class="row featurette2">
        	<div class="widget-box">
            

            	<div class="widget-body">
              		<div class="widget-main">
                		<div id="fuelux-wizard-container">
                  
							{{ steps_consultation(2, token) }}

	        			</div>
             		</div> <!-- /.widget-main -->
            
                   
                </div><!-- /.widget-body -->
              </div>
        </div> <!--    division -->           

        <!-- /END THE FEATURETTES -->
        
        {{ form_start(form, { 'attr': {'class': 'form_settings form-horizontal col-xs-12'}}) }}
        
        <div class="row">

  			<div class="col-xs-10 col-xs-offset-1">                  

  				<div class="clearfix"></div>
  				<br />
  				<br />
  				
				<div class="center-block">

              		<div class="well justify-block">
						<p class="lead2">{{ 'consultation.step2.p1'|trans }}</p> 

						<p class="lead2">{{ 'consultation.step2.p2'|trans }}</p> 

					</div>                  
							
                </div>
                    
                <div class="clearfix"></div>

         	</div>
         	
         	<div id="wizard-actions-box">
	                <hr>
	                <div class="wizard-actions">
	                  <button class="btn btn-prev" onclick="location.href='{{ path('consultation_step1', { 'token' : token }) }}'; return false;">
	                    <i class="mine-icon fa fa-arrow-left"></i>
	                    {{ 'consultation.step2.previous'|trans }}
	                  </button>
	                  
	                  {{ form_widget(form.continue, { 'label': 'consultation.step2.continue'|trans|raw, 'attr' : { 'class' : 'submit btn btn-success btn-next'} }) }}
	                 
	                </div>
           </div>
         	
		</div>  
		
		{{ form_rest(form) }}
					
		{{ form_end(form) }}  

	</div>
</section>
	
{% endblock %}