{% macro steps_widget(step_enabled) %}
<div>
	<ul class="steps">
	  <li data-step="1"{% if step_enabled == 1 %} class="active"{% elseif step_enabled > 1 %} class="complete"{% endif %}>
		<a href="{{ path('census_step1') }}" title="{{ 'census.step_1'|trans }}">
			<span class="step">1</span>
			<span class="title">{{ 'census.step_1'|trans }}</span>
		</a>
	  </li>

	  <li data-step="2"{% if step_enabled == 2 %} class="active"{% elseif step_enabled > 2 %} class="complete"{% endif %}>
	  	<a style="text-decoration: none;" href="{{ path('census_step2') }}" title="{{ 'census.step_2'|trans }}">
			<span class="step">2</span>
			<span class="title">{{ 'census.step_2'|trans }}</span>
		</a>
	  </li>

	  <li data-step="3"{% if step_enabled == 3 %} class="active"{% elseif step_enabled > 3 %} class="complete"{% endif %}>
	  	<a style="text-decoration: none;" href="{{ path('census_step3') }}" title="{{ 'census.step_3'|trans }}">
			<span class="step">3</span>
			<span class="title">{{ 'census.step_3'|trans }}</span>
		</a>
	  </li>

	  <li data-step="4"{% if step_enabled == 4 %} class="active"{% elseif step_enabled > 4 %} class="complete"{% endif %}>
		<a style="text-decoration: none;" href="{{ path('census_step4') }}" title="{{ 'census.step_4'|trans }}">
			<span class="step">4</span>
			<span class="title">{{ 'census.step_4'|trans }}</span>
		</a>
	  </li>

	  <li data-step="5"{% if step_enabled == 5 %} class="active"{% elseif step_enabled > 5 %} class="complete"{% endif %}>
		<a style="text-decoration: none;" href="{{ path('census_step5') }}" title="{{ 'census.step_5'|trans }}">
			<span class="step">5</span>
			<span class="title">{{ 'census.step_5'|trans }}</span>
		</a>
	  </li>

	</ul>
</div>
{% endmacro %}

{% macro steps_consultation(step_enabled, token) %}
<div>
	<ul class="steps">
	  <li data-step="1"{% if step_enabled == 1 %} class="active"{% elseif step_enabled > 1 %} class="complete"{% endif %}>
		<a href="{{ path('consultation_step1', { 'token' : token } ) }}" title="{{ 'consultation.step_1'|trans }}">
			<span class="step">1</span>
			<span class="title">{{ 'consultation.step_1'|trans }}</span>
		</a>
	  </li>

	  <li data-step="2"{% if step_enabled == 2 %} class="active"{% elseif step_enabled > 2 %} class="complete"{% endif %}>
	  	<a style="text-decoration: none;" href="{{ path('consultation_step2', { 'token' : token } ) }}" title="{{ 'consultation.step_2'|trans }}">
			<span class="step">2</span>
			<span class="title">{{ 'consultation.step_2'|trans }}</span>
		</a>
	  </li>

	  <li data-step="3"{% if step_enabled == 3 %} class="active"{% elseif step_enabled > 3 %} class="complete"{% endif %}>
	  	<a style="text-decoration: none;" href="{{ path('consultation_step3', { 'token' : token } ) }}" title="{{ 'consultation.step_3'|trans }}">
			<span class="step">3</span>
			<span class="title">{{ 'consultation.step_3'|trans }}</span>
		</a>
	  </li>
	  
	</ul>
</div>
{% endmacro %}