{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidate.html_title'|trans }}{% endblock %}

{% form_theme form _self %}

{% block checkbox_widget %}
{% spaceless %}
<input type="checkbox" style="width:25px" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block content %}
    <h1>{{ 'candidate.h1_title'|trans }}</h1>
    
    <p class="important">
    	<div>
			{{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
			
			<p><div style="background-color:gold;color:black">{{ form_errors(form) }}</div><p>
			
			<p>
				{{ 'candidate.step3.academic_level_title'|trans }} <br />
				{{ form_widget(form.academic_level) }}
				{{ form_errors(form.academic_level) }}
			</p>
			<br/><br/>
			<p>
				{{ 'candidate.step3.languages_title'|trans }}
				<br />
				
				<table>
				{% for child in form.languages %}
					<tr>
				        <td>{{ form_widget(child) }}</td> 
				        <td style="padding:5px">{{ form_label(child) }}{{ form_errors(child) }}</td>       
				    </tr>
				{% endfor %}
				</table>
			</p>
			
			<p>
			    {{ form_widget(form.continue, { 'label': 'candidate.step3.continue'|trans }) }}
			</p>
			
			{{ form_rest(form) }}
			
			{{ form_end(form) }}
		</div>
    </p>
{% endblock %}