{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidate.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidate.h1_title'|trans }}</h1>
    
    <p class="important">
    	<div>
			{{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
			
			<p><div style="background-color:gold;color:black">{{ form_errors(form) }}</div><p>
			
			<p>
				¿Has tenido alguna experiencia relacionada con el desempeño municipal?	(Seleccione hasta tres opciones siempre que tu actividad incluya la coordinación o gestión de un grupo superior a las 10 personas, posteriormente tendrás que explicarlo)
				
				He tenido experiencia en la mejora del funcionamiento organizativo de entidades
				He participado en la elaboración de planes de protección civil o seguridad ciudadana
				He contribuido a la lucha contra la pobreza o la exclusión social
				He gestionado actividades de atención sanitaria
				He gestionado actividades educativas o culturales
				He gestionado planes de infraestructura, vivienda o urbanismo
				He gestionado actividades de fomento de la sostenibilidad o protección medioambiental
				He gestionado actividades de fomento del empleo
				He gestionado actividades de fomento de la transparencia, la participación ciudadana o la igualdad de género.
				He gestionado actividades colectivas en el campo industrial o agrícola
				He gestionado actividades colectivas en el campo de las tecnologías de la información o la comunicación
				He gestionado actividades colectivas de investigación o desarrollo
				He gestionado actividades colectivas en el campo del cooperativismo
				He gestionado eficazmente presupuestos superiores al millón de euros
				He tenido experiencia de trabajo internacional
				He realizado funciones de representación o portavocía de colectivos
			</p>
			
			<p>
			    {{ form_widget(form.continue, { 'label': 'candidate.step4.continue'|trans }) }}
			</p>
			
			{{ form_rest(form) }}
			
			{{ form_end(form) }}
		</div>
    </p>
{% endblock %}