{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidate.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidate.h1_title'|trans }}</h1>
    
    <p class="important">
    	<div>
			{{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
			
			<p>{{ form_errors(form) }}</p>
			
			<p>
				¿Cuál es el campo de tu experiencia laboral?	(Seleccione hasta tres opciones)	

		·         Actividades físicas o deportivas
		·         Administración o gestión
		·         Agraria o pesquera
		·         Arte o artesanía
		·         Comercio y marketing
		·         Edificación, obra civil
		·         Energía o agua
		·         Mecánica, electricidad o electrónica
		·         Hostelería y turismo
		·         Informática o comunicaciones
		·         Industria
		·         Sanidad
		·         Medio Ambiente
		·         Educación o servicios a la comunidad
		·         Transporte
		·         Finanzas
			</p>
			
			<p>
			    {{ form_widget(form.continue, { 'label': 'candidate.step4.continue'|trans }) }}
			</p>
			
			{{ form_rest(form) }}
			
			{{ form_end(form) }}
		</div>
    </p>
{% endblock %}