{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidate.html_title'|trans }}{% endblock %}

{% form_theme form _self %}

{% block checkbox_widget %}
{% spaceless %}
<input type="checkbox" style="width:25px" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block head %}
    {{ parent() }}
    <script>
    $(document).ready(function() 
    {
		$(document).on('submit','#candidate_step5', function(event)
	    {
		    if($("#candidate_step5 .countable[type='checkbox']:checked").length > 3)
		    {
		    	alert('Solo pueden seleccionarse hasta maximo 3 opciones');
	    		// $( "span" ).text( "Not valid!" ).show().fadeOut( 1000 );
	    		event.preventDefault();
		    }
		    else
		    {
		    	return;
		    }
	    });
    });
    
	</script>
{% endblock %}

{% block content %}
    <h1>{{ 'candidate.h1_title'|trans }}</h1>
    
    <p class="important">
    	<div>
			{{ form_start(form, { 'attr': {'class': 'form_settings', 'id': 'candidate_step5'}}) }}
			
			<p><div style="background-color:gold;color:black">{{ form_errors(form) }}</div><p>
			
			<p>
				{{ 'candidate.step5.town_activities_title'|trans }}

				<table>
				{% for child in form.town_activities %}
					<tr>
				        <td>{{ form_widget(child, {'attr' : {'class' : 'countable'}}) }}</td> 
				        <td style="padding:5px">{{ form_label(child) }}</td>       
				    </tr>
				{% endfor %}
				</table>
			</p>
			
			<p>
			    {{ form_widget(form.continue, { 'label': 'candidate.step5.continue'|trans }) }}
			</p>
			
			{{ form_rest(form) }}
			
			{{ form_end(form) }}
		</div>
    </p>
{% endblock %}