{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidate.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidate.h1_title'|trans }}</h1>
    
    <p class="important">
    	<div>
			{{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
			
			<p><div style="background-color:gold;color:black">{{ form_errors(form) }}</div><p>

			<p>
				{{ 'candidate.step2.p1'|trans }}
			</p>
			
			<p>
				{{ 'candidate.step2.program'|trans }} <a href="/{{ documents_path }}/program.pdf" title="{{ 'candidate.step2.program'|trans }}">Descargar</a>
				{{ form_widget(form.program) }}
			</p>
			<p>
				{{ 'candidate.step2.legal_conditions'|trans }} <a href="/{{ documents_path }}/legal_conditions.pdf" title="{{ 'candidate.step2.legal_conditions'|trans }}">Descargar</a>
				{{ form_widget(form.legal_conditions) }}
			</p>
			<p>	
				{{ 'candidate.step2.recall_term'|trans }} <a href="/{{ documents_path }}/recall_term.pdf" title="{{ 'candidate.step2.recall_term'|trans }}">Descargar</a>
				{{ form_widget(form.recall_term) }}
			</p>
			<p>	
				{{ 'candidate.step2.participatory_term'|trans }} <a href="/{{ documents_path }}/participatory_term.pdf" title="{{ 'candidate.step2.participatory_term'|trans }}">Descargar</a>
				{{ form_widget(form.participatory_term) }}
			</p>
			<p>	
				{{ 'candidate.step2.voter_conditions'|trans }} <a href="/{{ documents_path }}/voter_conditions.pdf" title="{{ 'candidate.step2.voter_conditions'|trans }}">Descargar</a> 
				{{ form_widget(form.voter_conditions) }}
			</p>
			<p>	
				{{ 'candidate.step2.technical_constrains'|trans }} <a href="/{{ documents_path }}/technical_constrains.pdf" title="{{ 'candidate.step2.technical_constrains'|trans }}">Descargar</a>
				{{ form_widget(form.technical_constrains) }}
			</p>
			
			<p>
			    {{ form_widget(form.continue, { 'label': 'candidate.step2.continue'|trans }) }}
			</p>
			
			{{ form_rest(form) }}
			
			{{ form_end(form) }}
		</div>
    </p>
{% endblock %}