{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidate.html_title'|trans }}{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_widget_candidate %}

{% block checkbox_widget %}
{% spaceless %}
<input type="checkbox" style="width:25px" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block head %}
    {{ parent() }}
    <script>
    $(document).ready(function() 
    {
		$(document).on('submit','#candidate_step7', function(event)
	    {
		    if($("#candidate_step7 .countable[type='checkbox']:checked").length > 3)
		    {
		    	alert('Solo pueden seleccionarse hasta maximo 3 opciones');
	    		// $( "span" ).text( "Not valid!" ).show().fadeOut( 1000 );
	    		event.preventDefault();
		    }
		    else
		    {
		    	return;
		    }
	    });
    });
    
	</script>
{% endblock %}

{% block content %}
    <h1>{{ 'candidate.h1_title'|trans }}</h1>
    
    <p class="important">
    	<div>
			{{ form_start(form, { 'attr': {'class': 'form_settings', 'id': 'candidate_step7'}}) }}
			
			<p><div style="background-color:gold;color:black">{{ form_errors(form) }}</div><p>
			
			<p>
				{{ 'candidate.step7.public_values_title'|trans }}

				<table>
				{% for child in form.public_values %}
					<tr>
				        <td>{{ form_widget(child, {'attr' : {'class' : 'countable'}}) }}</td> 
				        <td style="padding:5px">{{ form_label(child) }}{{ form_errors(child) }}</td>       
				    </tr>
				{% endfor %}
				</table>
			</p>
			
			<p>
				{{ 'candidate.step7.motivation_text_title'|trans }}<br />
				{{ form_widget(form.motivation_text) }}
			</p>
			
			<p>
				{{ 'candidate.step7.town_activities_explanation_title'|trans }}:<br />
					1, 2 y 3
				{{ form_widget(form.town_activities_explanation) }}
			</p>
			
			<p>
				{{ 'candidate.step7.additional_info_title'|trans }}<br />
				{{ form_widget(form.additional_info) }}
			</p>
			
			<p>
				{{ 'candidate.step7.profile_image_title'|trans }}<br />
				{{ form_widget(form.profile_image) }}
			</p>
			
			<p>
			    {{ form_widget(form.continue, { 'label': 'candidate.step7.continue'|trans }) }}
			</p>
			
			{{ form_rest(form) }}
			
			{{ form_end(form) }}
		</div>
    </p>
{% endblock %}