{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidate.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidate.h1_title'|trans }}</h1>
    
    <p class="important">
    	<div>
			{{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
			
			<p><div style="background-color:gold;color:black">{{ form_errors(form) }}</div><p>
			
			<p>
				¿En qué actividades crees que debería centrarse con prioridad el gobierno municipal ? (seleccione hasta tres opciones)

				Mejorar las funciones de gobierno del municipio
				Mejorar la seguridad ciudadana
				Luchar contra la pobreza y la exclusión social
				Mejorar la atención sanitaria
				Mejorar la gestión educativa y cultural
				Atender a los problemas de vivienda, urbanismo e infraestructuras
				Mejorar la sostenibilidad del municipio
				Invertir en fomento del empleo
				Aumentar la participación ciudadana en la gestión municipal
				Mejorar los servicios de transporte
				Invertir en actividades industriales, agrícolas o comerciales
				Invertir en Investigación
				Gestionar mejor la deuda y las operaciones financieras
			
			</p>
			
			<p>
			    {{ form_widget(form.continue, { 'label': 'candidate.step4.continue'|trans }) }}
			</p>
			
			{{ form_rest(form) }}
			
			{{ form_end(form) }}
		</div>
    </p>
{% endblock %}