{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidate.html_title'|trans }}{% endblock %}
{% block content %}
    <h1>{{ 'candidate.h1_title'|trans }}</h1>
    
    <p class="important">
    	<div>
			{{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
			
			<p><div style="background-color:gold;color:black">{{ form_errors(form) }}</div><p>
			
			<p>
				{{ 'candidate.step1.p1'|trans({'%address%': address|capitalize, '%town%': town|capitalize})|raw }}
			</p>
			
			<p>
				{{ 'candidate.step1.p2'|trans({'%fromdate%': fromdate|date('d-m-Y'), '%todate%': todate|date('d-m-Y')}) }}
			</p>
			
			<p>
				<span>{{ form_label(form.name, 'candidate.step1.name'|trans) }}</span>
				<span>{{ form_errors(form.name) }}</span>
				{{ form_widget(form.name) }}
			</p>
			
			<p>
			    <span>{{ form_label(form.lastname, 'candidate.step1.lastname'|trans) }}</span>
			    <span>{{ form_errors(form.lastname) }}</span>
			    {{ form_widget(form.lastname) }}
			</p>
			
			<p>
			    <span>{{ form_label(form.dni, 'candidate.step1.dni'|trans) }}</span>
			    <span>{{ form_errors(form.dni) }}</span>
			    {{ form_widget(form.dni) }}
			</p>
			
			<p>
			    <span>{{ form_label(form.email, 'candidate.step1.email'|trans) }}</span>
			    <span>{{ form_errors(form.email) }}</span>
			    {{ form_widget(form.email) }}
			</p>

			<p>
			    <span>{{ form_label(form.phone, 'candidate.step1.phone'|trans) }}</span>
			    <span>{{ form_errors(form.phone) }}</span>
			    {{ form_widget(form.phone) }}
			</p>
			
			<p>
			    {{ form_widget(form.continue, { 'label': 'candidate.step1.continue'|trans }) }}
			</p>
			
			{{ form_rest(form) }}
			
			{{ form_end(form) }}
		</div>
    </p>
{% endblock %}