{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidate.html_title'|trans }}{% endblock %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% if errors|length > 0 %}
        {{dump(form.vars.attr)}}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' your-css-class')|trim}) %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block content %}
    <h1>{{ 'candidate.h1_title'|trans }}</h1>
    
    <p class="important">
    	<div>
			{{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
			
			<p><div style="background-color:gold;color:black">{{ form_errors(form) }}</div><p>
			
			<p>
				¿Cuál es tu nivel académico? <br />
				{{ form_widget(form.academic_level) }}
			</p>
			
			<p>
				¿Eres capáz de mantener una conversación telefónica en alguno de estos idiomas? (puedes seleccionar ninguno o varios) <br />
				{{ form_widget_simple(form.languages, { 'label': 'candidate.step3.languages'|trans }) }}
			</p>
			
			<p>
			    {{ form_widget(form.continue, { 'label': 'candidate.step3.continue'|trans }) }}
			</p>
			
			{{ form_rest(form) }}
			
			{{ form_end(form) }}
		</div>
    </p>
{% endblock %}