{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'town.step8.html_title'|trans }}{% endblock %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_town_widget %}
{# {% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %} #}

{% block content %}
<section class="section-2">
      <div class="container marketing">

        <div class="headline">
          <h2>{{ 'home.step_h2'|trans }} 5</h2>
        </div><h3 class="featurette-headin"> <i>{{ 'town.step9.h1_title'|trans }}</i>
        </h3>
        
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider2">
        <!--    division -->

        <div class="row featurette2">
          <div class="widget-box">
            

            <div class="widget-body">
              <div class="widget-main">
              
              	
              	
                <div id="fuelux-wizard-container">
                  {{ steps_town_widget(5, address) }}
                  
				  <hr>

                  <div class="step-content pos-rel">
                          
                    <div data-step="1" class="step-pane active row">
                      <h2 class="lighter block greenl col-xs-10 col-sm-offset-1">{{ 'town.step9.h1_title'|trans }}</h2>
                      
                      <div class="col-sm-offset-1 col-md-10 well">

						<p class="lead2">

						<div class="alert alert-success">
                          <button data-dismiss="alert" class="close" type="button">
                            <i class="mine-icon fa fa-times"></i>
                          </button>
                          
                          {{ 'town.step8.congratulations'|trans }}
                          
                          <br>
                        </div>

							</p>
			          
			        </div>

                      
                    </div>
                  </div>
                </div>
              </div>
              
              
              <!-- /.widget-main --> </div>
            <!-- /.widget-body --> </div>
        </div>
			  
        <!--    division -->

        <!-- /END THE FEATURETTES --> </div>
        
</section>
{% endblock %}