{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'town.step3.html_title'|trans }}{% endblock %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_town_widget %}
{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% block appjsinline %}
    <script>
    $(document).ready(function() 
    {
		$(document).on('submit','#town_step3', function(event)
	    {
			// If first option is checked, then invalidate the others
			if($("#town_step3 .countable[type='checkbox']").first().prop('checked'))
			{
				$.each($("#town_step3 .countable[type='checkbox']:checked"), function(key, item) 
				{
					item.checked = false
				});
				
				$("#town_step3 .countable[type='checkbox']").first().prop('checked', true);
			}
			else
			{
				// If first is not checked count the max items checked
			    if($("#town_step3 .countable[type='checkbox']:checked").length > 3)
			    {
			    	alert('Solo pueden seleccionarse hasta maximo 3 opciones');
		    		// $( "span" ).text( "Not valid!" ).show().fadeOut( 1000 );
		    		event.preventDefault();
			    }
			    else
			    {
			    	return;
			    }
			}
	    });
    });
    
	</script>
{% endblock %}

{% block content %}

<section class="section-2">
      <div class="container marketing">

        <div class="headline">
          <h2>{{ 'home.step_h2'|trans }} 3</h2>
        </div><h3 class="featurette-headin"> <i>{{ 'town.step3.h1_title'|trans }}</i>
        </h3>
        
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider2">
        <!--    division -->
        
        {{ form_start(form, { 'attr': {'class': 'form_settings', 'id': 'town_step3'}}) }}
        
        <div class="row featurette2">
          <div class="widget-box">
            

            <div class="widget-body">
              <div class="widget-main">
              
              	
              	
                <div id="fuelux-wizard-container">
                  {{ steps_town_widget(3) }}
                  
				  <hr>

                  <div class="step-content pos-rel">
                  
				  {% if not form.vars.valid and form.vars.errors|length > 0 %}
                  <div class="alert alert-danger">
                          <button data-dismiss="alert" class="close" type="button">
                            <i class="mine-icon fa fa-times"></i>
                          </button>
                          {{ form_errors(form) }}
                  </div>
                  {% endif %}
                          
                    <div data-step="1" class="step-pane active row">
                      <h2 class="lighter block greenl col-xs-10 col-sm-offset-1">{{ 'town.step3.h1_title'|trans }}</h2>
                      
                      <div class="col-sm-offset-1 col-md-10 well">

						<p class="lead2">{{ 'town.step3.job_experience_title'|trans }}</p>
					
						<p class="lead2">
							<table>
							{% for child in form.job_experience %}
								<tr>
							        <td>{{ form_widget(child, {'attr' : {'class' : 'countable'}}) }}</td> 
							        <td style="padding:5px">{{ form_label(child) }}{{ form_errors(child) }}</td>       
							    </tr>
							{% endfor %}
							</table>
						</p>
			          
			          </div>

                      
                    </div>
                  </div>
                </div>

                <hr>
                <div class="wizard-actions">

				  <button class="btn btn-prev" onclick="location.href='{{ path('town_candidacy_vote_step2', {'address' : address }) }}'; return false;">
                    <i class="mine-icon fa fa-arrow-left"></i>
                    {{ 'town.step3.previous'|trans }}
                  </button>
                  
                  {{ form_widget(form.continue, { 'label': 'town.step3.continue'|trans|raw, 'attr' : { 'class' : 'submit btn btn-success btn-next'} }) }}

                </div>
              </div>
              
              
              <!-- /.widget-main --> </div>
            <!-- /.widget-body --> </div>
        </div>

        {{ form_rest(form) }}
			
		{{ form_end(form) }}
			  
        <!--    division -->

        <!-- /END THE FEATURETTES --> </div>
        
</section>
{% endblock %}