{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'town.step7.html_title'|trans }}{% endblock %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_town_widget %}
{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% block content %}
<section class="section-2">
      <div class="container marketing">

        <div class="headline">
          <h2>{{ 'home.step_h2'|trans }} 4</h2>
        </div><h3 class="featurette-headin"> <i>{{ 'town.step7.h1_title'|trans }}</i>
        </h3>
        
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider2">
        <!--    division -->
        
        {{ form_start(form, { 'attr': {'class': 'form_settings', 'id': 'town_step7'}}) }}
        
        <div class="row featurette2">
          <div class="widget-box">
            

            <div class="widget-body">
              <div class="widget-main">
              
              	
              	
                <div id="fuelux-wizard-container">
                  {{ steps_town_widget(4, address) }}
                  
				  <hr>

                  <div class="step-content pos-rel container-fluid">
                  
				  {% if not form.vars.valid and form.vars.errors|length > 0 %}
                  <div class="alert alert-danger">
                          <button data-dismiss="alert" class="close" type="button">
                            <i class="mine-icon fa fa-times"></i>
                          </button>
                          {{ form_errors(form) }}
                  </div>
                  {% endif %}

                  {# 
							Comenzar el filtro desde el “más importante” al “menos importante” 
							hasta que quede un número de candidatos de X
				  #}
                  <div class="row dataTables_wrappero">
                      <div class="col-xs-12 candidatos">
                        {% if candidates|length > 0 %}
                        	{% for candidate in candidates %}

                        <div class="row widget-box ">

                          <div class="col-xs-12 col-sm-5">
                            <div class="profile-user-info-striped">
                              <div class="profile-info-row">
                                <div class="profile-info-name">{{ 'town.step7.academic_level'|trans }}</div>
                                <div class="profile-info-value">
                                  <span class="lalala">
                            		{% if candidate.academicLevel is defined %}
                                    {% set academic_level_text = { 	'0' : 'town.step7.academic_level_text_0'|trans,
													     			'1' : 'town.step7.academic_level_text_1'|trans,
													     			'2' : 'town.step7.academic_level_text_2'|trans, 
													     			'3' : 'town.step7.academic_level_text_3'|trans,
													     			'4' : 'town.step7.academic_level_text_4'|trans,
													     			'5' : 'town.step7.academic_level_text_5'|trans,
													     			'6' : 'town.step7.academic_level_text_6'|trans,
													     			'7' : 'town.step7.academic_level_text_7'|trans,
													     			'8' : 'town.step7.academic_level_text_8'|trans
																}
									%}
										{% if candidate.academicLevel > -1 %}
											{{ academic_level_text[candidate.academicLevel] }}
	                                    {% endif %}
                                    {% endif %}      
                        			</span>
                                </div>
                              </div>
                              <div class="profile-info-row">
                                <div class="profile-info-name">{{ 'town.step7.language'|trans }}</div>
                                <div class="profile-info-value">
                                  <span class="lalala">
                                  {% if candidate.languages is defined %}
                                    {% set languages_text = { 	'0' : 'town.step7.languages_text_0'|trans,
																'1' : 'town.step7.languages_text_1'|trans,
											     				'2' : 'town.step7.languages_text_2'|trans,
											     				'3' : 'town.step7.languages_text_3'|trans,
											     				'4' : 'town.step7.languages_text_4'|trans,
											     				'5' : 'town.step7.languages_text_5'|trans,
											     				'6' : 'town.step7.languages_text_6'|trans,
											     				'7' : 'town.step7.languages_text_7'|trans,
									}
									%}
										{% if candidate.languages|length > 0 %}
											<ul>
											{% for languages in candidate.languages %}
												<li>{{ languages_text[languages] }}</li>
											{% endfor %}
											</ul>
	                                    {% endif %}
                                    {% endif %}
									</span>
                                </div>
                              </div>
                              <div class="profile-info-row">
                                <div class="profile-info-name">{{ 'town.step7.public_values'|trans }}</div>
                                <div class="profile-info-value">
                                  <span id="" class="">
                                  {% if candidate.publicValues is defined %}
                                    {% set public_values_text = { 	'1' : 'town.step7.public_values_text_1'|trans,
												     				'2' : 'town.step7.public_values_text_2'|trans,
												     				'3' : 'town.step7.public_values_text_3'|trans,
												     				'4' : 'town.step7.public_values_text_4'|trans,
												     				'5' : 'town.step7.public_values_text_5'|trans,
												     				'6' : 'town.step7.public_values_text_6'|trans,
												     				'7' : 'town.step7.public_values_text_7'|trans,
												     				'8' : 'town.step7.public_values_text_8'|trans,
												     				'9' : 'town.step7.public_values_text_9'|trans,
												     				'10' : 'town.step7.public_values_text_10'|trans,
												     				'11' : 'town.step7.public_values_text_11'|trans
									}
									%}
										{% if candidate.publicValues|length > 0 %}
											<ul>
											{% for public_values in candidate.publicValues %}
												<li>{{ public_values_text[public_values] }}</li>
											{% endfor %}
											</ul>
	                                    {% endif %}
                                    {% endif %}
                        	
                        			</span>
                                </div>
                              </div>
                              <div class="profile-info-row">
                                <div class="profile-info-name">{{ 'town.step7.job_experience'|trans }}</div>
                                <div class="profile-info-value">
                                  <span class="lalala">
                                  	{% if candidate.jobExperience is defined %}
                                    {% set job_experience_text = { 	'1' : 'town.step7.job_experience_text_1'|trans,
												     				'2' : 'town.step7.job_experience_text_2'|trans,
												     				'3' : 'town.step7.job_experience_text_3'|trans,
												     				'4' : 'town.step7.job_experience_text_4'|trans,
												     				'5' : 'town.step7.job_experience_text_5'|trans,
												     				'6' : 'town.step7.job_experience_text_6'|trans,
												     				'7' : 'town.step7.job_experience_text_7'|trans,
												     				'8' : 'town.step7.job_experience_text_8'|trans,
												     				'9' : 'town.step7.job_experience_text_9'|trans,
												     				'10' : 'town.step7.job_experience_text_10'|trans,
												     				'11' : 'town.step7.job_experience_text_11'|trans,
												     				'12' : 'town.step7.job_experience_text_12'|trans,
												     				'13' : 'town.step7.job_experience_text_13'|trans,
												     				'14' : 'town.step7.job_experience_text_14'|trans,
												     				'15' : 'town.step7.job_experience_text_15'|trans,
												     				'16' : 'town.step7.job_experience_text_16'|trans}
									%}
										{% if candidate.jobExperience|length > 0 %}
											<ul>
											{% for job_experience in candidate.jobExperience %}
												<li>{{ job_experience_text[job_experience] }}</li>
											{% endfor %}
											</ul>
	                                    {% endif %}
                                    {% endif %}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <hr>
                            <div class="profile-user-info-striped">
                              <div class="profile-info-row">
                                <div class="profile-info-name">{{ 'town.step7.townActivities'|trans }}</div>
                                <div class="profile-info-value">
                                  <span class="lalala" id="age">
                                    {% if candidate.townActivities is defined %}
                                    {% set town_activities_text = { '1' : 'town.step7.town_activities_text_1'|trans,
												     				'2' : 'town.step7.town_activities_text_2'|trans,
												     				'3' : 'town.step7.town_activities_text_3'|trans,
												     				'4' : 'town.step7.town_activities_text_4'|trans,
												     				'5' : 'town.step7.town_activities_text_5'|trans,
												     				'6' : 'town.step7.town_activities_text_6'|trans,
												     				'7' : 'town.step7.town_activities_text_7'|trans,
												     				'8' : 'town.step7.town_activities_text_8'|trans,
												     				'9' : 'town.step7.town_activities_text_9'|trans,
												     				'10' : 'town.step7.town_activities_text_10'|trans,
												     				'11' : 'town.step7.town_activities_text_11'|trans,
												     				'12' : 'town.step7.town_activities_text_12'|trans,
												     				'13' : 'town.step7.town_activities_text_13'|trans,
												     				'14' : 'town.step7.town_activities_text_14'|trans,
												     				'15' : 'town.step7.town_activities_text_15'|trans,
												     				'16' : 'town.step7.town_activities_text_16'|trans,}
									%}
										{% if candidate.townActivities|length > 0 %}
											<ul>
											{% for activity in candidate.townActivities %}
												<li>{{ town_activities_text[activity] }}</li>
											{% endfor %}
											</ul>
	                                    {% endif %}
                                    {% endif %}
                                  </span>
                                </div>
                              </div>
                              <div class="profile-info-row">
                                <div class="profile-info-name">{{ 'town.step7.townActivitiesExplanation'|trans }}</div>
                                <div class="profile-info-value">
                                  <span class="lalala" id="login">{% if candidate.townActivitiesExplanation is defined %}{{ candidate.townActivitiesExplanation }}{% endif %}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                            <div class="profile-user-info-striped">
                              <div class="profile-info-row">
                                <div class="profile-info-name">{{ 'town.step7.governPriorities'|trans }}:</div>
                                <div class="profile-info-value">
                                  <span id="age" class="lalala">
                                  {% if candidate.governPriorities is defined %}
                                    {% set govern_priorities_text = {   '1' : 'town.step7.govern_priorities_text_1'|trans,
													     				'2' : 'town.step7.govern_priorities_text_2'|trans,
													     				'3' : 'town.step7.govern_priorities_text_3'|trans,
													     				'4' : 'town.step7.govern_priorities_text_4'|trans,
													     				'5' : 'town.step7.govern_priorities_text_5'|trans,
													     				'6' : 'town.step7.govern_priorities_text_6'|trans,
													     				'7' : 'town.step7.govern_priorities_text_7'|trans,
													     				'8' : 'town.step7.govern_priorities_text_8'|trans,
													     				'9' : 'town.step7.govern_priorities_text_9'|trans,
													     				'10' : 'town.step7.govern_priorities_text_10'|trans,
													     				'11' : 'town.step7.govern_priorities_text_11'|trans,
													     				'12' : 'town.step7.govern_priorities_text_12'|trans,
													     				'13' : 'town.step7.govern_priorities_text_13'|trans,
									}
									%}
										{% if candidate.governPriorities|length > 0 %}
											<ul>
											{% for govern_priorities in candidate.governPriorities %}
												<li>{{ govern_priorities_text[govern_priorities] }}</li>
											{% endfor %}
											</ul>
	                                    {% endif %}
                                    {% endif %}
                                  </span>
                                </div>
                              </div>
                              <div class="profile-info-row">
                                <div class="profile-info-name">{{ 'town.step7.motivationText'|trans }}</div>
                                <div class="profile-info-value">
                                  <span id="" class="">{% if candidate.motivationText is defined %}{{ candidate.motivationText }}{% endif %}</span>
                                </div>
                              </div>
                              <div class="profile-info-row">
                                <div class="profile-info-name">{{ 'town.step7.additionalInfo'|trans }}</div>
                                <div class="profile-info-value">
                                  <span class="lalala" id="login">{% if candidate.additionalInfo is defined %}{{ candidate.additionalInfo }}{% endif %}</span>
                                </div>
                              </div>

                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3 center">
                            <div>
                              <span class="profile-picture">
                                <img src="{{ app.request.schemeAndHttpHost }}/{{ documents_path }}{{ candidate.id }}/photo/photo.jpg" alt="{{ candidate.name }} {{ candidate.lastname }}" class="editable img-responsive editable-click editable-empty" id="avatar"></span>
                              <div class="space-4"></div>
                              <div class="label label-info label-xlg ">
                                <div class="inline position-relative">
                                  <span>
                                    <span class="white">{{ candidate.name }} {{ candidate.lastname }}</span>
                                  </span>
                                </div>
                              </div>
                              {% if candidate.urlInfo is defined %}
                              <br />
                               <br />
                              <div class="label label-info label-xlg ">
                                <div class="inline position-relative">
                                  <span>
                                    <span class="white"><a style="color:white" href="{{ candidate.urlInfo }}" title="{{ 'town.step7.more_info'|trans }}">{{ 'town.step7.more_info'|trans }}</a></span>
                                  </span>
                                </div>
                              </div>
                              {% endif %}
                            </div>
                            <div class="space-6"></div>
                            <div class="hr hr12 dotted"></div>
                            <div class="clearfix">
                              <div class="grid2 candidate-{{ candidate.id }}">
                                <span class="bigger-175 blue">{# {{ loop.index }} de #}{{ candidates|length }}</span>
                                <br>
                                {{ 'town.step7.candidates_selected'|trans }}
                              </div>
                              <div class="grid2">
                                <div class="profile-info-value">
                                  <label>
                                    {% if candidate.status == 1 %}
												<select class="form-control input-sm" aria-controls="dynamic-table" 
														required="required" name="town_step_7[candidate_{{ candidate.id }}]" 
														id="candidate_{{ candidate.id }}">
													{% set position_text = {   '0' : 'town.step7.position_text_0'|trans,
													     				'1' : 'town.step7.position_text_1'|trans,
													     				'2' : 'town.step7.position_text_2'|trans,
													     				'3' : 'town.step7.position_text_3'|trans,
													     				'4' : 'town.step7.position_text_4'|trans,
													     				'5' : 'town.step7.position_text_5'|trans,
													     				'6' : 'town.step7.position_text_6'|trans,
													     				'7' : 'town.step7.position_text_7'|trans,
													     				'8' : 'town.step7.position_text_8'|trans,
													     				'9' : 'town.step7.position_text_9'|trans,
													     				'10' : 'town.step7.position_text_10'|trans,
																	}
																	%}
													<option value="0">{{ 'town.step7.position_text_0'|trans }}</option>
													{% for index in 1..max_candidates_allowed|length  %}
														<option value="{{ index }}">{{ position_text[index] }}</option>
													{% endfor %}
												</select>
									{% endif %}
									
                                    {{ 'town.step7.which_position'|trans }}
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="hr hr16 dotted"></div>
                          </div>
                        </div>
                        <hr>
                        	{% endfor %}
                        {% endif %}
                      </div>
                    </div>

                    </div>
                  </div>
                </div>

                <hr>
                <div class="wizard-actions">

				  <button class="btn btn-prev" onclick="location.href='{{ path('town_candidacy_vote_step2', {'address' : address }) }}'; return false;">
                    <i class="mine-icon fa fa-arrow-left"></i>
                    {{ 'town.step7.previous'|trans }}
                  </button>
                  
                  {{ form_widget(form.continue, { 'label': 'town.step7.continue'|trans|raw, 'attr' : { 'class' : 'submit btn btn-success btn-next'} }) }}

                </div>
              </div>
              
              
              <!-- /.widget-main --> </div>
            <!-- /.widget-body --> </div>
        </div>

        {{ form_rest(form) }}
			
		{{ form_end(form) }}
			  
        <!--    division -->

        <!-- /END THE FEATURETTES --> </div>
        
</section>
{% endblock %}