{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'town.html_title'|trans }}{% endblock %}

{% block appjsinline %}
    <script src="{{ asset('bundles/municipales/js/geoPosition.js') }}" type="text/javascript" charset="utf-8"></script>
    <script>
			$(document).ready(function()
			{
				$(".explanation_dni").colorbox({inline:true, width:"15%"});

				{% if enable_geolocation %}
					function geo_error(error) 
					{
						var msg_error = '';
						
						// http://dev.w3.org/geo/api/spec-source.html#position_error_interface
						// (0) unknown; (1) permission denied; (2) position unavailable; or (3) timeout
						if(error.code == error.PERMISSION_DENIED) 
						{
							msg_error = 'Has rechazado permitir la detección geográfica de tu ubicación mediante el navegador, ' +
								        'en consecuencia no podemos verificar que te encuentres en Sevilla y poder permitirte ' + 
								        'realizar la votación. Si aún deseas proceder, debes cambiar la configuración a Permitir, ' +
								        'por ejemplo en Google Chrome desde ' +
								        'Configuración avanzada > Privacidad > Configuración de contenido > Excepciones de ubicación geográfica' +
								        ' y pulsa "Permitir" para primarias.participa.info. Más información en: ' +
								        'http://www.wikihow.com/Change-Your-Location-Sharing-Setting-in-Google-Chrome';
								        
							console.log(msg_error);
						}
						else if(error.code == error.POSITION_UNAVAILABLE) 
						{
							msg_error = 'Error: position unavailable!';
							console.log(msg_error);
						}
						else if(error.code == error.TIMEOUT) 
						{
							msg_error = 'Error: timeout getting geolocation';
							console.log(msg_error);
						}
						else
						{
							msg_error = 'Sorry, no position available. (error code: ' + error.code;
							console.log(msg_error);
						}

						$('#geolocation_content').css('display', 'none');
						$('#wizard-actions-box').css('display', 'none');
						$("#live-geolocation").parent().css('display', 'block');
						$("#live-geolocation").removeClass('alert-success').addClass('alert-danger');
						$("#live-geolocation").html(msg_error);
					}
	
					var geo_options = {
							  enableHighAccuracy: true, 
							  maximumAge        : 30000, 
							  timeout           : 27000
							};
	
					// http://dev.w3.org/geo/api/spec-source.html#geolocation
					if('geolocation' in navigator) 
					{
						$("#live-geolocation").parent().css('display', 'block');
						
						
						  /* geolocation is available */
	
						navigator.geolocation.getCurrentPosition(
							function(position) 
							{
								  var geo_msg = 'Tiempo: ' + position.timestamp + ' <br/>Latitud: ' + position.coords.latitude + ' <br/>Longitud: ' + position.coords.longitude + 
										  	  ' <br/>Altitud: ' + position.coords.altitude +
										  	  ' <br/>Precision: ' + position.coords.accuracy +
										  	  ' <br/>Precision altitud: ' +  position.coords.altitudeAccuracy +
										  	  ' <br/>Heading: ' +  position.coords.heading +
										  	  ' <br/>Speed: ' +  position.coords.speed
										  	  
								   console.log(geo_msg);
								  $("#live-geolocation").html(geo_msg);
								  
								var img = new Image();
								img.src = "http://maps.googleapis.com/maps/api/staticmap?center=" + position.coords.latitude + "," + position.coords.longitude + "&zoom=13&size=300x300&sensor=false";

								console.log(img.src)
								$("#live-geolocation").append(img);

								var geocode_ajax = $.get('http://maps.googleapis.com/maps/api/geocode/json?latlng=' + position.coords.latitude + ',' + position.coords.longitude + '&sensor=true', 
								function(data) 
								{
									console.log('success');

									$('#geolocation_content').css('display', 'block');
									
									console.log(data);
								})
								.done(function(data) 
								{
									console.log('finished geolocation');
								})
								.fail(function() 
								{
									var msg_error = 'geolocation error: could not fetch JSON for coordinates';
									
									//alert(msg_error);
									$('#geolocation_content').css('display', 'none');
									$('#wizard-actions-box').css('display', 'none');
									$("#live-geolocation").parent().css('display', 'block');
									$("#live-geolocation").removeClass('alert-success').addClass('alert-danger');
									$("#live-geolocation").html(msg_error);

								})
								.always(function() 
								{
									//alert("finished");
								}, 'json');
								    
							},
							geo_error,
							geo_options
						);
					} 
					else 
					{
						var msg_error = 'geolocation IS NOT available';
						console.log(msg_error);

						$('#geolocation_content').css('display', 'none');
						$('#wizard-actions-box').css('display', 'none');
						$("#live-geolocation").parent().css('display', 'block');
						$("#live-geolocation").removeClass('alert-success').addClass('alert-danger');
						$("#live-geolocation").html(msg_error);
	
						/*
						 if(geoPosition.init()){  // Geolocation Initialisation
						            geoPosition.getCurrentPosition(success_callback,error_callback,{enableHighAccuracy:true});
						    }else{
						            // You cannot use Geolocation in this device
						    }
						    geoPositionSimulator.init(); 
				
						    // p : geolocation object
						    function success_callback(p){
						        // p.latitude : latitude value
						        // p.longitude : longitude value
						    }
				
						    function error_callback(p){
						        // p.message : error message
						    }
					    */
					}
				{% endif %}
			});
	</script>
{% endblock %}

{% form_theme form 'MunicipalesBundle:theme:forms.html.twig' %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_town_widget %}

{% block content %}


<section class="section-2">
      <div class="container marketing">
 
         <div class="headline">
          <h2>{{ 'home.step_h2'|trans }} 1</h2>
        </div><h3 class="featurette-headin"> <i>{{ 'town.step1.header'|trans }}</i>
        </h3>
               

        <!-- START THE FEATURETTES -->

        
        <!--    division -->
        <div class="row featurette2">
          <div class="widget-box">
            

            <div class="widget-body">
              <div class="widget-main">
                <div id="fuelux-wizard-container">
                  {{ steps_town_widget(1, address) }}

                  {{ form_start(form, { 'attr': {'class': 'form_settings form-horizontal col-xs-12'}}) }}
                  
                  <div class="step-content pos-rel">
	                  {% if not form.vars.valid and form.vars.errors|length > 0 %}
	                  <div class="alert alert-danger">
	                          <button data-dismiss="alert" class="close" type="button">
	                            <i class="mine-icon fa fa-times"></i>
	                          </button>
	                          {{ form_errors(form) }}
	                  </div>
	                  {% endif %}
                      
                  <div data-step="1" class="step-pane active row">
                      <h2 class="lighter block greenl col-xs-10 col-sm-offset-1">{{ 'town.h1_title'|trans }}</h2>
                      
                      <div class="col-xs-12 col-sm-offset-0"><div class="hr hr-dotted"></div></div>
                      
                      {% if enable_geolocation %}
                      <div class="help-block col-xs-12 col-sm-6 col-sm-offset-3 inline center" style="display:none">
                      		<div class="alert alert-success" id="live-geolocation"></div>
                      </div>
                      {% endif %}
                      
                      <div id="geolocation_content" style="display:none">
	                      <div class="col-xs-11 col-sm-offset-1">   
	                      	  <div class="justify-block">
			                      {{ 'town.step1.welcome'|trans({'%address%' : address, '%town%' : town|capitalize })|raw }}
								  <br/><br/>
								  <div class="embed-responsive embed-responsive-16by9">
							           <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/7yOx3TfxlNM"></iframe>
							      </div>
							  </div>
							  <br /><br />
						  </div>
	                      
	                      <br /><br />
	                      
	                      <div class="form-group{% if form.name.vars.errors|length > 0 %} has-error{% endif %}">
							  {{ form_label(form.name, 'town.step1.name'|trans, {'label_attr' : { 'class' : 'col-sm-3 control-label no-padding-right' } } ) }}
							  {{ form_widget(form.name) }}
							  {% if form.name.vars.errors|length > 0 %}<div class="help-block col-xs-12 col-sm-reset inline">{{ form_errors(form.name) }}</div>{% endif %}
						  </div>
	
						  <div class="form-group{% if form.lastname.vars.errors|length > 0 %} has-error{% endif %}">
				    		  {{ form_label(form.lastname, 'town.step1.lastname'|trans, {'label_attr' : { 'class' : 'col-sm-3 control-label no-padding-right' } }) }}
				    	      {{ form_widget(form.lastname) }}
				    	      {% if form.lastname.vars.errors|length > 0 %}<div class="help-block col-xs-12 col-sm-reset inline">{{ form_errors(form.lastname) }}</div>{% endif %}
						  </div>
				
						  <div class="form-group{% if form.dni.vars.errors|length > 0 %} has-error{% endif %}">
				    	  	  {{ form_label(form.dni, 'town.step1.dni'|trans, {'label_attr' : { 'class' : 'col-sm-3 control-label no-padding-right' } }) }}
				    		  {{ form_widget(form.dni) }}
				    	  	  {% if form.dni.vars.errors|length > 0 %}<div class="help-block col-xs-12 col-sm-reset inline">{{ form_errors(form.dni) }}{% endif %}
						  </div>
						  {# No needed for now 
						  <div class="form-group{% if form.username.vars.errors|length > 0 %} has-error{% endif %}">
				    		  {{ form_label(form.username, 'town.step1.username'|trans, {'label_attr' : { 'class' : 'col-sm-3 control-label no-padding-right' } }) }}
				    		  {{ form_widget(form.username) }}
				    		  {% if form.username.vars.errors|length > 0 %}<div class="help-block col-xs-12 col-sm-reset inline">{{ form_errors(form.username) }}</div>{% endif %}
				    		  
						  </div>
				
						  <div class="form-group{% if form.password.vars.errors|length > 0 %} has-error{% endif %}">
				    		  {{ form_label(form.password, 'town.step1.password'|trans, {'label_attr' : { 'class' : 'col-sm-3 control-label no-padding-right' } }) }}
				    		  {{ form_widget(form.password) }}
				    		  {% if form.password.vars.errors|length > 0 %}<div class="help-block col-xs-12 col-sm-reset inline">{{ form_errors(form.password) }}</div>{% endif %}
						  </div>
						  #}
						  
						  <div class="form-group{% if form.email.vars.errors|length > 0 %} has-error{% endif %}">
				    		  {{ form_label(form.email, 'town.step1.email'|trans, {'label_attr' : { 'class' : 'col-sm-3 control-label no-padding-right' } }) }}
				    		  {{ form_widget(form.email) }}
				    		  {% if form.email.vars.errors|length > 0 %}<div class="help-block col-xs-12 col-sm-reset inline">{{ form_errors(form.email) }}</div>{% endif %}
						  </div>
	
						  <div class="form-group{% if form.phone.vars.errors|length > 0 %} has-error{% endif %}">
						      {{ form_label(form.phone, 'town.step1.phone'|trans, {'label_attr' : { 'class' : 'col-sm-3 control-label no-padding-right' } }) }}
						      {{ form_widget(form.phone) }}
						      {% if form.phone.vars.errors|length > 0 %}<div class="help-block col-xs-12 col-sm-reset inline">{{ form_errors(form.phone) }}</div>{% endif %}
						      <a class='explanation_dni' href="#explanation_dni_content"><img style="margin-left:15px;width:16px;height:16px" src="{{ asset('bundles/municipales/images/question.png') }}"
						       alt="{{ 'town.step1.explanation'|trans }}"
						       title="{{ 'town.step1.explanation'|trans }}"/></a>
						    
						      <!-- This contains the hidden content for inline calls -->
							  <div style='display:none'>
								  <div id='explanation_dni_content' style='width:200px;padding:10px; background:#fff;'>
									  {{ 'town.step1.explanation_dni'|trans }}
								  </div>
							  </div>
						  </div>
						  
						  <div class="help-block col-xs-12 col-sm-6 col-sm-offset-3 inline"><div class="alert alert-warning">{{ 'town.step1.warning_text'|trans|raw }}</div></div>
						  
	                      
	                    </div>
                    
                    
                    </div>
                  </div>
                </div>
				
				<div id="wizard-actions-box">
	                <hr>
	                <div  class="wizard-actions">
	                  {{ form_widget(form.continue, { 'label': 'town.step1.continue'|trans|raw, 'attr' : { 'class' : 'submit btn btn-success btn-next'} }) }}
	                </div>
                </div>
              </div>
              
              {{ form_rest(form) }}
					
			  {{ form_end(form) }}   
              <!-- /.widget-main --> </div>
            <!-- /.widget-body --> </div>
        </div>

        <!--    division -->

        <!-- /END THE FEATURETTES --> </div>
</section>

{% endblock %}