<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ asset('bundles/municipales/css/styles.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/municipales/css/colorbox.css') }}" />
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="{{ asset('bundles/municipales/js/jquery.colorbox-min.js') }}" /></script>

            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
	    <div id="header">

	      <div id="logo">
	      
	      	<div id="menubar" class="language-switcher">
	    		<ul id="menu" class="lang-menu">
	    		  <li{% if app.request.locale == 'es_eu' %} class="selected"{% endif %}><a href="{{ path(app.request.get('_route'), app.request.get('_route_params', [])|merge({'_locale': 'es_eu'})) }}"><img class="flag" src="{{ asset('bundles/municipales/images/es_eu.png') }}" title="{{ 'header.languages.es_eu'|trans }}" alt="{{ 'header.languages.es_eu'|trans }}" />{{ 'header.languages.es_eu'|trans }}</a></li>
				  <li{% if app.request.locale == 'es_ca' %} class="selected"{% endif %}><a href="{{ path(app.request.get('_route'), app.request.get('_route_params', [])|merge({'_locale': 'es_ca'})) }}"><img class="flag" src="{{ asset('bundles/municipales/images/es_ca.png') }}" title="{{ 'header.languages.es_ca'|trans }}" alt="{{ 'header.languages.es_ca'|trans }}" />{{ 'header.languages.es_ca'|trans }}</a></li>
				  <li{% if app.request.locale == 'es_gl' %} class="selected"{% endif %}><a href="{{ path(app.request.get('_route'), app.request.get('_route_params', [])|merge({'_locale': 'es_gl'})) }}"><img class="flag" src="{{ asset('bundles/municipales/images/es_gl.png') }}" title="{{ 'header.languages.es_gl'|trans }}" alt="{{ 'header.languages.es_gl'|trans }}" />{{ 'header.languages.es_gl'|trans }}</a></li>
				  <li{% if app.request.locale == 'es_es' %} class="selected"{% endif %}><a href="{{ path(app.request.get('_route'), app.request.get('_route_params', [])|merge({'_locale': 'es_es'})) }}"><img class="flag" src="{{ asset('bundles/municipales/images/es_es.png') }}" title="{{ 'header.languages.es_es'|trans }}" alt="{{ 'header.languages.es_es'|trans }}" />{{ 'header.languages.es_es'|trans }}</a></li>
				</ul>
    	    </div>
	      
	        <div id="logo_text">
	          <h1><a href="{{ path('municipales_homepage') }}"><span>Lista Abierta</span></a></h1>
	          <h2>Abre las organizaciones a la ciudadanía.</h2>
	        </div>
	        
	      </div>

	    </div>
	    <div id="site_content">
        	<div id="content">{% block content %}{% endblock %}</div>
        </div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright {{ 'now'|date('Y') }} by <a href="http://listabierta.org" title="ListAbierta">ListAbierta</a>.
            {% endblock %}
        </div>
        
        <div class="footer-wrapper">
		    <div class="footer">
		          <div class="container">
		              <div class="row">
		                  <div class="col-sm-7 footer-copyright">
		                        &copy; {{ 'now'|date('Y') }} ListaAbierta is licensed under a Creative Commons Reconocimiento 3.0 Espa&ntilde;a License. 
								Creado a partir de la obra en  <a href="#">www.participa.info</a><div class=""></div>
		                  </div>
		                  <div class="col-sm-2 footer-social pull-right">
		                      <a href="#"><i class="fa fa-facebook"></i></a>
		                      <a href="#"><i class="fa fa-twitter"></i></a>
		                      <a href="#"><i class="fa fa-google-plus"></i></a>
		                  </div>
		              </div>
		        </div>
		    </div>
		</div>
		<!-- /.container -->
  
        <!-- Bootstrap core JavaScript
	    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/docs.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="js/ie10-viewport-bug-workaround.js"></script>
		<!-- Bootstrap Form Helpers -->
		<script src="js/bootstrap-formhelpers.min.js"></script>

		<script>
		  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		    $($(e.target).attr('href')).find('.bfh-slider').val($($(e.target).attr('href')).find('.bfh-slider').val());
		  });
		</script>
    </body>
</html>