<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
        	<meta charset="utf-8">
		    <meta content="IE=edge" http-equiv="X-UA-Compatible">
		    <meta content="width=device-width, initial-scale=1" name="viewport">
		    <link href="{{ asset('favicon.png') }}" rel="icon">
		    
		    <!-- Bootstrap core CSS -->
			<link rel="stylesheet" href="{{ asset('bundles/municipales/css/bootstrap.min.css') }}">

			<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
			
			<!-- Custom styles for this template -->
			<link href="http://fonts.googleapis.com/css?family=Open+Sans:700,300,400" rel="stylesheet">
			<link href="http://fonts.googleapis.com/css?family=Oswald:700,300,400" rel="stylesheet">
			 
			<link href="{{ asset('bundles/municipales/css/font-awesome.min.css') }}" rel="stylesheet">
			<link href="{{ asset('bundles/municipales/css/animate.css') }}" rel="stylesheet">
			<link href="{{ asset('bundles/municipales/css/form-elements.css') }}" rel="stylesheet">
			<link href="{{ asset('bundles/municipales/css/style.css') }}" rel="stylesheet">
			<link href="{{ asset('bundles/municipales/css/media-queries.css') }}" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('bundles/municipales/css/carousel.css') }}">
			<link rel="stylesheet" href="{{ asset('bundles/municipales/css/base.css') }}">
			
			<!-- Bootstrap Form Helpers -->
			<link href="{{ asset('bundles/municipales/css/bootstrap-formhelpers.min.css') }}" rel="stylesheet">
		    
		    
            <link rel="stylesheet" href="{{ asset('bundles/municipales/css/styles.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/municipales/css/colorbox.css') }}" />
            
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
    
    	<div class="wrapper">
  			<div class="navbar-wrapper2">
    			<div class="container-fluid">
    			
      				<nav class="navbar navbar-inverse2 navbar-fixed-top">
       			 		<div class="container">
          					<div class="navbar-header">
					            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
					              <span class="sr-only">Toggle navigation</span>
					              <span class="icon-bar"></span>
					              <span class="icon-bar"></span>
					              <span class="icon-bar"></span>
					            </button>
					            <h1>
					              <a href="{{ path('census_index') }}" class="navbar-brand2" title="ListAbierta.org">
					                <img class="hidde-xs" alt="ListaAbierta.org" src="{{ asset('bundles/municipales/img/brand-1.png') }}">
					                <span class="hidden">ListAbierta.org</span>
					              </a>
					            </h1>
          					</div>
							
          					<div class="col-sm-2 header-social pull-right">
		                        <a href="https://www.facebook.com/democraciaparticipativa"><i class="fa fa-facebook-square"></i></a>
		                        <a href="https://twitter.com/dparticipa"><i class="fa fa-twitter-square"></i></a>
		                        <a href="https://www.linkedin.com/groups?home=&gid=3805926&trk=anet_ug_hm"><i class="fa fa-linkedin-square"></i></a>
		                    </div>

			         </div>
			      </nav>
		
		    	</div>
		  </div>
		 
          {% block content %}{% endblock %}

        <div class="footer-wrapper">
		    <div class="footer">
		          <div class="container">
		              <div class="row">
		                  <div class="col-sm-4 footer-copyright">
		                        &copy; {{ 'now'|date('Y') }} ListaAbierta is licensed under a Creative Commons Reconocimiento 3.0 Espa&ntilde;a License. 
								{# Creado a partir de la obra en  <a href="#">www.participa.info</a><div class=""></div> #}
								<br />
								<a 
									href="https://www.tractis.com/time-stamping-powered-by-tractis"><img 
									src="http://cdn.tractis.com/buttons/time-stamping-powered-by-tractis.png" 
									alt="Time Stamping Powered By Tractis" 
									title="Time Stamping Powered By Tractis"></a> 
		                  </div>
		                  
		                  <div class="col-sm-2 footer-social pull-right">
		                      <a href="https://www.facebook.com/democraciaparticipativa"><i class="fa fa-facebook"></i></a>
		                      <a href="https://twitter.com/dparticipa"><i class="fa fa-twitter"></i></a>
		                      <a href="https://www.linkedin.com/groups?home=&gid=3805926&trk=anet_ug_hm"><i class="fa fa-linkedin"></i></a>
		                  </div>
		                  
		                  <div class="col-sm-2 pull-right center">
			                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="8CWC852U27DQ8">
								<input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
								<img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
							  </form>
							  
						  </div>
						  
						  <div class="col-sm-4 pull-right center">
							  	{{ 'footer.donate'|trans }}
						  </div>
		              </div>
		        </div>
		    </div>
		</div>
		<!-- /.container -->
  
        <!-- Bootstrap core JavaScript
	    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{{ asset('bundles/municipales/js/bootstrap.min.js') }}"></script>
		<!-- Bootstrap Form Helpers -->
		<script src="{{ asset('bundles/municipales/js/bootstrap-formhelpers.min.js') }}"></script>
		
		<script src="{{ asset('bundles/municipales/js/jquery.colorbox-min.js') }}" /></script>
		
		{% block appjsinline %}{% endblock %}							
	 </div> <!-- div final -->
    </body>
</html>