<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
        	<meta charset="utf-8">
		    <meta content="IE=edge" http-equiv="X-UA-Compatible">
		    <meta content="width=device-width, initial-scale=1" name="viewport">
		    
		    <!-- Bootstrap core CSS -->
			<link rel="stylesheet" href="{{ asset('bundles/municipales/css/bootstrap.min.css') }}">
			
			<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
			<!--[if lt IE 9]>
			<script src="{{ asset('bundles/municipales/js/ie8-responsive-file-warning.js') }}"></script>
			<![endif]-->
			<script src="{{ asset('bundles/municipales/js/ie-emulation-modes-warning.js') }}"></script>
			
			<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
			
			<!-- Custom styles for this template -->
			<link href="http://fonts.googleapis.com/css?family=Open+Sans:700,300,400" rel="stylesheet">
			<link href="http://fonts.googleapis.com/css?family=Oswald:700,300,400" rel="stylesheet">
			 
			<link href="{{ asset('bundles/municipales/css/font-awesome.min.css') }}" rel="stylesheet">
			<link href="{{ asset('bundles/municipales/elegant-font/code/style.css') }}" rel="stylesheet">
			<link href="{{ asset('bundles/municipales/css/animate.css') }}" rel="stylesheet">
			<link href="{{ asset('bundles/municipales/css/form-elements.css') }}" rel="stylesheet">
			<link href="{{ asset('bundles/municipales/css/style.css') }}" rel="stylesheet">
			<link href="{{ asset('bundles/municipales/css/media-queries.css') }}" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('bundles/municipales/css/carousel.css') }}">
			<link rel="stylesheet" href="{{ asset('bundles/municipales/css/base.css') }}">
			
			<!-- Bootstrap Form Helpers -->
			<link href="css/bootstrap-formhelpers.min.css" rel="stylesheet">
		    
		    
            <link rel="stylesheet" href="{{ asset('bundles/municipales/css/styles.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/municipales/css/colorbox.css') }}" />
            {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> #}
            <script src="{{ asset('bundles/municipales/js/jquery.colorbox-min.js') }}" /></script>

            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
    
    	<div class="wrapper">
  			<div class="navbar-wrapper2">
    			<div class="container-fluid">
    			
      				<nav class="navbar navbar-inverse2 navbar-fixed-top">
       			 		<div class="container">
          					<div class="navbar-header">
					            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
					              <span class="sr-only">Toggle navigation</span>
					              <span class="icon-bar"></span>
					              <span class="icon-bar"></span>
					              <span class="icon-bar"></span>
					            </button>
					            <h1>
					              <a href="{{ path('municipales_homepage') }}" class="navbar-brand2" title="ListAbierta.org">
					                <img class="hidde-xs" alt="ListaAbierta.org" src="{{ asset('bundles/municipales/img/brand-1.png') }}">
					                <span class="hidden">ListAbierta.org</span>
					              </a>
					            </h1>
          					</div>

          					<div class="bfh-selectbox bfh-languages pull-right" data-language="es_ES" data-available="gl_ES,ca_ES,eu_ES,es_ES" data-flags="true" data-blank="false"></div>

					          {#
					          	<div id="menubar" class="language-switcher">
						    		<ul id="menu" class="lang-menu">
						    		  <li{% if app.request.locale == 'es_eu' %} class="selected"{% endif %}><a href="{{ path(app.request.get('_route'), app.request.get('_route_params', [])|merge({'_locale': 'es_eu'})) }}"><img class="flag" src="{{ asset('bundles/municipales/images/es_eu.png') }}" title="{{ 'header.languages.es_eu'|trans }}" alt="{{ 'header.languages.es_eu'|trans }}" />{{ 'header.languages.es_eu'|trans }}</a></li>
									  <li{% if app.request.locale == 'es_ca' %} class="selected"{% endif %}><a href="{{ path(app.request.get('_route'), app.request.get('_route_params', [])|merge({'_locale': 'es_ca'})) }}"><img class="flag" src="{{ asset('bundles/municipales/images/es_ca.png') }}" title="{{ 'header.languages.es_ca'|trans }}" alt="{{ 'header.languages.es_ca'|trans }}" />{{ 'header.languages.es_ca'|trans }}</a></li>
									  <li{% if app.request.locale == 'es_gl' %} class="selected"{% endif %}><a href="{{ path(app.request.get('_route'), app.request.get('_route_params', [])|merge({'_locale': 'es_gl'})) }}"><img class="flag" src="{{ asset('bundles/municipales/images/es_gl.png') }}" title="{{ 'header.languages.es_gl'|trans }}" alt="{{ 'header.languages.es_gl'|trans }}" />{{ 'header.languages.es_gl'|trans }}</a></li>
									  <li{% if app.request.locale == 'es_es' %} class="selected"{% endif %}><a href="{{ path(app.request.get('_route'), app.request.get('_route_params', [])|merge({'_locale': 'es_es'})) }}"><img class="flag" src="{{ asset('bundles/municipales/images/es_es.png') }}" title="{{ 'header.languages.es_es'|trans }}" alt="{{ 'header.languages.es_es'|trans }}" />{{ 'header.languages.es_es'|trans }}</a></li>
									</ul>
					    	    </div>
					    	   #} 
					    	   
					    	  
          
					          {# <div class="hidden">
					          		<div class="navbar-collapse collapse " id="navbar">
					                      <ul class="nav navbar-nav pull-right">
					                        <li class="active">
					                          <a href="#">Home</a>
					                        </li>
					                        <li>
					                          <a href="#about">About</a>
					                        </li>
					                        <li>
					                          <a href="#contact">Contact</a>
					                        </li>
					                        <li class="dropdown">
					                          <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
					                            Dropdown
					                            <span class="caret"></span>
					                          </a>
					                          <ul role="menu" class="dropdown-menu">
					                            <li>
					                              <a href="#">Action</a>
					                            </li>
					                            <li>
					                              <a href="#">Another action</a>
					                            </li>
					                            <li>
					                              <a href="#">Something else here</a>
					                            </li>
					                            <li class="divider"></li>
					                            <li class="dropdown-header">Nav header</li>
					                            <li>
					                              <a href="#">Separated link</a>
					                            </li>
					                            <li>
					                              <a href="#">One more separated link</a>
					                            </li>
					                          </ul>
					                        </li>
					                      </ul>
					                 </div>
					              </div>
					
							         #}
			         </div>
			      </nav>
		
		    	</div>
		  </div>
		 
          {% block content %}{% endblock %}

        <div class="footer-wrapper">
		    <div class="footer">
		          <div class="container">
		              <div class="row">
		                  <div class="col-sm-7 footer-copyright">
		                        &copy; {{ 'now'|date('Y') }} ListaAbierta is licensed under a Creative Commons Reconocimiento 3.0 Espa&ntilde;a License. 
								Creado a partir de la obra en  <a href="#">www.participa.info</a><div class=""></div>
		                  </div>
		                  <div class="col-sm-2 footer-social pull-right">
		                      <a href="#"><i class="fa fa-facebook"></i></a>
		                      <a href="#"><i class="fa fa-twitter"></i></a>
		                      <a href="#"><i class="fa fa-google-plus"></i></a>
		                  </div>
		              </div>
		        </div>
		    </div>
		</div>
		<!-- /.container -->
  
        <!-- Bootstrap core JavaScript
	    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{{ asset('bundles/municipales/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('bundles/municipales/js/docs.min.js') }}"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="{{ asset('bundles/municipales/js/ie10-viewport-bug-workaround.js') }}"></script>
		<!-- Bootstrap Form Helpers -->
		<script src="{{ asset('bundles/municipales/js/bootstrap-formhelpers.min.js') }}"></script>

		<script>
		  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		    $($(e.target).attr('href')).find('.bfh-slider').val($($(e.target).attr('href')).find('.bfh-slider').val());
		  });
		</script>
	 </div> <!-- div final -->
    </body>
</html>