{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'census.step4.html_title'|trans }}{% endblock %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_widget %}

{% block appjsinline %}
<style type="text/css">
 
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
 
</style>
{% endblock %}

{% block content %}

<section class="section-2">
	<div class="container marketing">
        
        <div class="headline">
          <h2>{{ 'census.step5.step_h2'|trans }}</h2>
        </div>
        
        <h3 class="featurette-headin"> <i>{{ 'census.step5.h1_title'|trans }}</i></h3>
        
        <!-- START THE FEATURETTES -->

        <!--    division -->
        <div class="row featurette2">
        	<div class="widget-box">
            

            	<div class="widget-body">
              		<div class="widget-main">
                		<div id="fuelux-wizard-container">
                  
							{{ steps_widget(5) }}

	        			</div>
             		</div> <!-- /.widget-main -->
            
                   
                </div><!-- /.widget-body -->
              </div>
        </div> <!--    division -->           

        <!-- /END THE FEATURETTES -->
            
        <div class="row">

  			<div class="col-xs-9 col-xs-offset-2">                  

  				<div class="clearfix"></div>
  				<br />
  				<br />
  				
				<div class="center-block">

              		<div class="well justify-block">
						<p class="lead2">{{ 'census.step5.p1'|trans }}</p> 

						<p class="lead2">{{ 'census.step5.p2'|trans }}</p>
						
						
						<br /><br />

						<h3>Comparte!</h3>
						
						<div id="share-buttons">
    
						    <!-- Email -->
						    <a href="mailto:?Subject=Decide el voto de investidura del alcalde con Participa Sevilla&amp;Body=Participa%20en%20la%20decisión%20colectiva%20sobre%20el%20voto%20de%20los%20concejales%20electos%20de%20Participa%20Sevilla%20en%20el%20pleno%20de%20investidura%20del%20alcalde%20del%20Ayuntamiento%20de%20Sevilla%20%20https://participasevilla.org">
						        <img src="{{ asset('bundles/municipales/img/somacro/email.png') }}" alt="Email" />
						    </a>
						 
						    <!-- Facebook -->
						    <a href="http://www.facebook.com/sharer.php?u=https://participasevilla.org" target="_blank">
						        <img src="{{ asset('bundles/municipales/img/somacro/facebook.png') }}" alt="Facebook" />
						    </a>
						    
						    <!-- Twitter -->
						    <a href="http://www.twitter.com/share/link?url=https://participasevilla.org&amp;name=Participa%20Sevilla&hashtags=participasevilla" target="_blank">
						        <img src="{{ asset('bundles/municipales/img/somacro/twitter.png') }}" alt="Tumblr" />
						    </a>
						 
						</div>
					</div>                  
							
                </div>
                    
                <div class="clearfix"></div>

         	</div>
		</div>  

	</div>
</section>
	
{% endblock %}