{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'census.step4.html_title'|trans }}{% endblock %}

{% from 'MunicipalesBundle:macros:steps.html.twig' import steps_widget %}

{% block content %}

<section class="section-2">
	<div class="container marketing">
        
        <div class="headline">
          <h2>{{ 'home.step_h2'|trans }} 1</h2>
        </div>
        
        <h3 class="featurette-headin"> <i>{{ 'census.step_conditions.h1_title'|trans }}</i></h3>
        
        <!-- START THE FEATURETTES -->

        <!--    division -->
        <div class="row featurette2">
        	<div class="widget-box">
            

            	<div class="widget-body">
              		<div class="widget-main">
                		<div id="fuelux-wizard-container">
                  
							{{ steps_widget(5) }}

	        			</div>
             		</div> <!-- /.widget-main -->
            
                   
                </div><!-- /.widget-body -->
              </div>
        </div> <!--    division -->           

        <!-- /END THE FEATURETTES -->
            
        <div class="row">

  			<div class="col-xs-9 col-xs-offset-2">                  

				<div class="center-block">
    
                    <h3 class="header smaller lighter blue col-xs-10">{{ 'census.step_conditions.p1_title'|trans }}:</h3>
                  
              		<div class="">
						Gracias por registrarte en el censo de votantes de Participa Sevilla ! 

						Vamos a construir colectivamente otra forma de gestionar tu ayuntamiento por el bien común de sus habitantes.
						
					</div>                  
							
                </div>
                    
                <div class="clearfix"></div>

         	</div>
		</div>  

	</div>
</section>
	
{% endblock %}