{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'candidacy.step_verify.html_title'|trans }}{% endblock %}

{% block content %}

    <section class="section-2">
      <div class="container marketing">

        <div class="headline">
          <h2>{{ 'candidacy.recover_password.header'|trans }}</h2>
        </div><h3 class="featurette-headin"> <i>{{ 'candidacy.recover_password.h1_title'|trans }}</i>
        </h3>
        
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider2">
        <!--    division -->
        
        {{ form_start(form, { 'attr': {'class': 'form_settings'}}) }}
        
        <div class="row featurette2">
          <div class="widget-box">
            

            <div class="widget-body">
              <div class="widget-main">

                <div id="fuelux-wizard-container">

                  <div class="step-content pos-rel">
                  

                    <div data-step="1" class="step-pane active row">
                      <h2 class="lighter block greenl col-xs-10 col-sm-offset-1">
                      	{{ 'candidacy.recover_password.h1_subtitle'|trans }}
                      </h2>
                      
                      	<div class="col-sm-offset-3 col-md-6 well">

                      	  {% if candidacies|length > 0 %}
                      	  	<table class="table">
    							<tr>
    							</tr>
    						</table>
                      	  {% else %}
                      	  	 No hay candidaturas disponibles
                      	  {% endif %}

			        	</div>
			        	
                    </div>
                  </div>
                </div>

              </div>
              
              
              <!-- /.widget-main --> </div>
            <!-- /.widget-body --> </div>
        </div>

        <!--    division -->

        <!-- /END THE FEATURETTES --> </div>
</section>
{% endblock %}