{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'home.html_title'|trans }}{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">

    </style>
{% endblock %}
{% block bodyclass %}layout-home{% endblock %}
{% block content %}

<section class="section-1 destacado">
    <div class="container">
        <img class="img-responsive" src="{{ asset('bundles/municipales/img/destacado-01.jpg') }}" alt="{{ 'home.open_council'|trans }}">
        <div class="txt-container"> 
        	<span>{{ 'home.featured'|trans }}</span>
        </div>
    </div>
</section>

<section class="section-2">
    <div class="container marketing">
      <div class="headline"> <h2>{{ 'home.h1_title'|trans }}</h2></div>
        <h3 class="featurette-headin"> <i>{{ 'home.who_we_are'|trans }}</i>
        </h3>
        <p class="featurette-heading-small">
          <b>Listabierta.org</b>
            <span class="text-mutedo">
                {{ 'home.intro_p1'|trans|raw }}
            </span>
        </p>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider2">
<div class="row featurette3">
      <div class="col-md-6">
        
        <p class="lead2">{{ 'home.intro_p2'|trans|raw }}</p>
      </div>
      <div class="col-md-6">
        <p class="lead2">{{ 'home.intro_p3'|trans|raw }}</p></div>
    </div>
    <hr class="featurette-divider2">
 <!--    division -->
 <div class="row featurette2">
      <div class="col-md-6">
        
        <div class="headline"> <h2>Tutorial</h2></div><h3 class="featurette-headin"> <i>{{ 'home.who_h3'|trans }}</i>
        </h3><p class="lead2">{{ 'home.intro_p4'|trans }}</p>
            <div class="embed-responsive embed-responsive-16by9">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/MUta7aI3bn4"></iframe>
            </div>
      </div>
          <hr class="featurette-divider2 visible-xs-block">
      <div class="col-md-6">
        
        <div class="headline"> <h2>{{ 'home.steps_h2'|trans }}</h2></div>
        <h3 class="featurette-headin"> <i>{{ 'home.steps'|trans }}:</i>
        </h3>
    <ul class="steps2">
                      <li class="active" data-step="1">
                        <span class="step">1</span>
                        <span class="title">{{ 'home.step_1'|trans }}</span>
                      </li>

                      <li data-step="2">
                        <span class="step">2</span>
                        <span class="title">{{ 'home.step_2'|trans }}</span>
                      </li>

                      <li data-step="3">
                        <span class="step">3</span>
                        <span class="title">{{ 'home.step_3'|trans }}</span>
                      </li>

                      <li data-step="4">
                        <span class="step">4</span>
                        <span class="title">{{ 'home.step_4'|trans }}</span>
                      </li>

                        <li data-step="5">
                        <span class="step">5</span>
                        <span class="title">{{ 'home.step_5'|trans }}</span>
                      </li>

                        <li data-step="6">
                        <span class="step">6</span>
                        <span class="title">{{ 'home.step_6'|trans }}</span>
                      </li>

                        <li data-step="7">
                        <span class="step">7</span>
                        <span class="title">{{ 'home.step_7'|trans }}</span>
                      </li>

                        <li data-step="8">
                        <span class="step">8</span>
                        <span class="title">{{ 'home.step_8'|trans }}</span>
                      </li>

                        <li data-step="9">
                        <span class="step">9</span>
                        <span class="title">{{ 'home.step_9'|trans }}</span>
                      </li>

                    </ul>
      </div>
    </div>
    <hr class="featurette-divider2">
 <!--    division -->
 <div class="row featurette2 well inverse">

      <div class="col-md-6">
      {#<h3 class="featurette-headin"> <i>{{ 'home.welcome'|trans|raw }}</i>
        </h3> #}
      </div>
      <div class="col-md-3 pull-ri col-md-offset-2">
          <a href="{{ path('municipales_candidacy_step_conditions') }}"title="{{ 'home.start_here'|trans }}" class="btn btn-primary2 btn-lg btn-block">{{ 'home.start_here'|trans }}</a>
      </div>		        
    </div>

    <!-- /END THE FEATURETTES -->

  </div>
  </section>
{% endblock %}

