{{ 'mail.admin_created.hello'|trans }} <b>{{ name }}</b>,<br />
<br />
{{ 'mail.admin_created.account'|trans }}.<br />
<br />
{{ 'mail.admin_created.can_create'|trans }} <a href="{{ url('login') }}" title="{{ 'mail.admin_created.login'|trans }}">{{ url('login') }}</a>
<br />