{{ 'mail.admin_updated.hello'|trans }} <b>{{ name }}</b>,<br />
<br />
{{ 'mail.admin_updated.account'|trans }}.<br />
<br />
{{ 'mail.admin_updated.can_create'|trans }} <a href="{{ url('login') }}" title="{{ 'mail.admin_updated.login'|trans }}">{{ url('login') }}</a>
<br />