{{ 'mail.candidacy_vote_address.hello'|trans }} <b>{{ name }}</b>,<br />
<br />
{{ 'mail.candidacy_vote_address.can_public'|trans }}:<br /><br />
<br />
<a href="{{ url('town_candidacy_vote_step1', { 'address' : address_slug }) }}" title="{{ 'town.step1.header'|trans }}">{{ url('town_candidacy_vote_step1', { 'address' : address_slug }) }}</a>
<br />