{{ 'mail.candidacy_address.hello'|trans }} <b>{{ name }}</b>,<br />
<br />
{{ 'mail.candidacy_address.supply_link'|trans }}:<br /><br />
<br />
<a href="{{ url('candidate_step1', { 'address' : address_slug }) }}" 
title="{{ 'candidacy.step1.header'|trans }}">{{ url('candidate_step1', { 'address' : address_slug }) }}</a>
<br />