{{ 'mail.recovery_password.hello'|trans }} <b>{{ name }}</b>,<br />
<br />

{{ 'mail.recovery_password.request'|trans }}.<br/>

{{ 'mail.recovery_password.no_request'|trans }}.<br/>
<br/>
{{ 'mail.recovery_password.restore'|trans }}:<br/>
<a href="{{ url('recovery_token', { 'token' : token }) }}" target="_blank" title="{{ 'mail.recovery_password.data_recover'|trans }}">
{{ url('recovery_token', { 'token' : token }) }}</a>
<br/>
<br/>
{{ 'mail.recovery_password.visit'|trans }}.<br/>
<br/>
{{ 'mail.recovery_password.regards'|trans }}<br/>