{{ 'mail.vote_finished.hello'|trans }} <b>{{ voter.name }} {{ voter.lastname }}</b>,<br />
<br />
{{ 'mail.vote_finished.we_sorry'|trans }}.<br />
<br />
{{ 'mail.vote_finished.please_proceed'|trans }} <a href="{{ url(municipales_homepage) }}">{{ url(municipales_homepage) }}</a>, {{ 'mail.vote_finished.thanks_you'|trans }} 
<br />
{{ 'mail.vote_finished.greetings'|trans }}