{{ 'mail.vote_deleted.hello'|trans }} <b>{{ voter.name }} {{ voter.lastname }}</b>,<br />
<br />
{{ 'mail.vote_deleted.we_sorry'|trans }}.<br />
<br />
{{ 'mail.vote_deleted.please_proceed'|trans }} <a href="{{ url('municipales_homepage') }}">{{ url('municipales_homepage') }}</a>, {{ 'mail.vote_deleted.thanks_you'|trans }} 
<br />
{{ 'mail.vote_deleted.greetings'|trans }}