{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'login.html_title'|trans }}{% endblock %}

{% block content %}
	{% if error %}
	    <div>{{ error.message }}</div>
	{% endif %}
	 
	<form action="{{ path('login_check') }}" method="post">
	    <label for="username">{{ 'login.username'|trans }}:</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" />
	 
	    <label for="password">{{ 'login.password'|trans }}:</label>
	    <input type="password" id="password" name="_password" />
	 
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
	    {# #Redirect to admin candidacy page #}
	    <input type="hidden" name="_target_path" value="/alta-candidatura-paso-6" />
	    
	 
	    <button type="submit">{{ 'login.access'|trans }}</button>
	</form>
{% endblock %}