{% extends 'MunicipalesBundle:theme:layout.html.twig' %}

{% block title %}{{ 'login.html_title'|trans }}{% endblock %}

{% block content %}
    <section class="section-2">
      <div class="container marketing">

        <!-- START THE FEATURETTES -->
        <!--    division -->

        <div class="row featurette2">
          <div class="">
            <div class="widget-body">
              <div class="widget-main">
              
              <form action="{{ path('login_check') }}" method="post">
              
                <div id="fuelux-wizard-container">

                  <div class="step-content pos-rel container-fluid">
                    <div class="row">
                      <h2 class="col-md-8 col-sm-offset-2 text-center">{{ 'login.html_title'|trans }}</h2>
                    </div>
                    <div class="row">
                      <div class="col-md-offset-2 col-md-8 well">
                        <p class="lead2 text-center">
                        {{ 'login.conditions'|trans }}
                        
                        {% if error %}
					        <div class="alert alert-danger">
								<button data-dismiss="alert" class="close" type="button">
							    	<i class="mine-icon fa fa-times"></i>
							    </button>
							    {{ error.message|raw }}
							</div>
						{% endif %}
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div data-step="1" class="step-pane active col-xs-12">
                        <div class="col-md-offset-2 col-md-8 ">
                          <div class="widget-box2">
                            <div class="widget-body">
                              <div class="widget-main">
                                <form role="form" class="bs-example form-horizontal">
                                  <div id="horizontal_form">
                                    <div class="form-group">
                                      <label class="required col-lg-2 control-label" for="horizontal_form_email">{{ 'login.username'|trans }}</label>
                                      <div class="col-lg-10">
                                      
                                        <input type="text" class="form-control" placeholder="{{ 'login.username'|trans }}" required="required" name="_username" id="username" value="{{ last_username }}">
                                        
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="required col-lg-2 control-label" for="horizontal_form_password">{{ 'login.password'|trans }}</label>
                                      <div class="col-lg-10">
                    
                                        <input type="password" class="form-control" placeholder="{{ 'login.password'|trans }}" required="required" name="_password" id="password">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="col-lg-offset-2 col-lg-10">
                                        <div class="checkbox">
                                          <label class="required" for="horizontal_form_checkbox">
                                            <input type="checkbox" id="remember_me" name="_remember_me" />
                                            {{ 'login.remember_me'|trans }}
                                           </label>
                                           <br />
                                           <a title="{{ 'login.recover_password'|trans }}" href="{{ path('recover_password') }}">{{ 'login.recover_password'|trans }}</a>
                                        </div>
                                      </div>
                                    </div>
                                    
                                      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
	    							  {# #Redirect to admin candidacy page #}
	    							  <input type="hidden" name="_target_path" value="{{ path('panel_admin') }}" />

                                    </div>
                                  <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                      <button class="btn btn-default" type="submit">{{ 'login.access'|trans }}</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            
            </form>
            
            <!-- /.widget-main --> </div>
          <!-- /.widget-body --> </div>

      </div>
      <!--    division -->
      <!-- /END THE FEATURETTES --> 
</section>
{% endblock %}